$bottomContactsWidth = 425px

.footer
	rel()
	padding-bottom 35px

.footer__menu-line
	rel()
	padding 47px 0 47px 0
	background data-uri('../img/data_uri/btm_bg.png') 0 0 repeat
	box-shadow 0 -1px 3px 0 alpha(#000, .2)

	&:before
		pseudo-abs(top 75px bottom 75px right 395px)
		width 1px
		display inline-block
		background #828890

.footer__menu-line
	color #fff

	a
		color #fff

		&:hover
			color #ccc

.bottom-menu__col
	sizing()
	float left
	width 200px
	padding-left 26px
	overflow hidden
	font-size 13px
	font-weight $fontNormal

	.bottom-menu__item + .bottom-menu__item
		margin-top 19px

	a
		display inline-block
		text-transform uppercase

.footer__menu-line__contacts
	sizing()
	float right
	width $bottomContactsWidth
	margin-top -2px
	padding-right 20px
	padding-left 113px
	font-size 15px
	font-weight $fontBook
	line-height 22px
	color #fff
	letter-spacing(30)

.contacts__address
	margin-bottom 34px

.phone-line__title,
.phone-line__value
	display inline-block

.phone-line__title
	width 62px
	font-size 13px
	font-weight $fontLight

.phone-line__value
	width 200px
	font-size 15px
	letter-spacing(10)

.footer__copyrights-line
	rel()
	height 50px
	overflow hidden
	background #434b56
	padding 0 25px
	font-size 13px
	letter-spacing(-15)
	font-weight $fontLight
	line-height 46px
	color #fff
	box-shadow 0 1px 3px 0 alpha(#000, .2)

.sn-icons
	abs(top 13px right 25px)
	size(100px, 18px)
	display block

.sn-icons__item
	notrans()
	size(18px)
	display inline-block
	float right
	margin-left 7px

.sn-icon__vk
	sprite($ico_vk)
	background url('../img/sprite2x/ico_vk.png') 50% 0 no-repeat

.sn-icon__fb
	sprite($ico_fb)
	background url('../img/sprite2x/ico_fb.png') 50% 0 no-repeat

.sn-icon__tw
	sprite($ico_tw)
	background url('../img/sprite2x/ico_tw.png') 50% 0 no-repeat

.sn-icon__vk,
.sn-icon__fb,
.sn-icon__tw
	background-size 100%

.btm_overlay
	abs(left right)
	z-index -1
	height 50px
	margin-top -50px
	background #868c91

@media only screen and (min-width: 1280px) {
	.footer__menu-line {
		padding 55px 0 55px 0
	}

	.bottom-menu__col {
		width 250px
		padding-left 31px
		font-size 16px
		line-height 1.75em
	}

	.footer__menu-line:before {
		top 92px
		bottom 93px
		right 500px
	}

	.footer__menu-line__contacts {
		width 503px
		margin-top 0px
		letter-spacing(30)
		font-size 20px
		font-weight $fontNormal
		line-height 28px
	}

	.phone-line__title {
		width 80px
		font-size 19px
	}

	.phone-line__value {
		font-size 18px
	}

	.contacts__address {
		margin-bottom 44px
	}

	.footer__copyrights-line {
		height 62px
		padding 0 30px
		font-size 16px
		letter-spacing(-5)
		line-height 60px
	}

	.sn-icons {
		top 16px
		right 31px
		width 120px
	}

	.sn-icons__item {
		margin-left 10px
	}

	.sn-icon__vk,
	.sn-icon__fb,
	.sn-icon__tw {
		size(28px, 28px)
	}
}
