$menuHeight = 62px

.header
	height $menuHeight
	margin-bottom 125px

.header__center
	rel()

.header__side
	width 50%

	&:before
		pseudo()
		size(100%, $menuHeight)
		display block
		background data-uri('../img/data_uri/top_menu_bg.png') 0 0 repeat

	&:after
		pseudo()
		size(100%, 1px)
		display block
		box-shadow 0 1px 3px 0 alpha(#000, .15)

.header__side_position_left:before
	right 2px

.header__logo
	abs()
	spriteWidth($logo)
	spriteHeight($logo)
	background url('../img/sprite2x/logo.png') 50% 0 no-repeat
	background-size 100%
	margin-left 26px
	display inline-block
	box-shadow 0 0 8px 0 alpha(#000, .15)

.header__top-menu
	sizing()
	size(800px, $menuHeight)
	float right
	padding-right 81px
	background data-uri('../img/data_uri/top_menu_bg.png') 0 0 repeat
	box-shadow 0 1px 3px 0 alpha(#000, .15)

	.top-menu__item
		&.active
			border-bottom 1px solid $color

		&:not(.active):hover
			border-bottom-color transparent

.top-menu
	padding-top 23px
	text-align right
	font-size 13px
	font-weight $fontBook
	letter-spacing(0)

.top-menu__item
	margin-left 26px
	text-transform uppercase
	color $color
	font-weight $fontBook

	&:not(.active):hover
		color #a0a9b8

.header__lang-menu
	abs(right 10px)

	.top-menu__item
		margin-left 4px

		&.active
			color #a0a9b8

		& + .top-menu__item:before
			pseudo()
			content '|'
			left -4px
			color #2f3744

@media only screen and (min-width: 1280px) {
	.header {
		height 78px
		margin-bottom 155px
	}

	.header__top-menu {
		size(1000px, 78px)
		padding-right 108px
	}

	.header__side:before {
		height 78px
	}

	.header__logo {
		width 219px
		height 109px
		margin-left 31px
	}

	.top-menu {
		padding-top 29px
		font-size 16px
	}

	.top-menu__item {
		margin-left 33px
		font-weight $fontNormal
	}

	.header__lang-menu {
		right 20px
	}

	.header__lang-menu .top-menu__item {
		margin-left 5px
	}
}
