.activity__content-block
	margin-bottom 27px

.activity__images
	float left
	width 275px
	margin-top 6px

	img
		float left
		margin 0 !important

.activity__content
	float right
	width 675px

	ul li,
	ol li
		margin-left 0

.activity__our-projects
	float right
	margin-top 2px
	font-size 15px
	font-weight $fontNormal
	letter-spacing(30)
	text-transform uppercase

$thumbHeight = 169px

.activity-thumbs
	margin-left -25px

.activity-thumb
	rel()
	sizing()
	size(475px, $thumbHeight)
	display block
	float left
	overflow hidden
	border 1px solid #9d9d9d
	margin 0 0 25px 25px
	background #fff

.activity-thumb__image
	size(39.5%, 100%)
	background url('../img/s.gif') 50% 0 no-repeat
	background-size cover
	float left

.activity-thumb__title,
.activity-thumb__text
	rel()
	z-index 10
	display block
	float right
	color $color

.activity-thumb__title
	width 57.7%
	margin-top 20px
	margin-bottom 6px
	font-size 1.02em
	font-weight $fontBold
	text-transform uppercase
	letter-spacing(-40)
	line-height 23px

.activity-thumb__text
	sizing()
	width 57.7%
	padding-right 10px
	padding-bottom 10px
	font-size 14px
	font-weight $fontBook
	letter-spacing(10)

.activity-thumb__bg-image
	transition(all, 1s)
	abs(right bottom)
	width 31.5%

.activity-thumb:hover .activity-thumb__bg-image
	transform(scale(1.05, 1.05))

@media only screen and (min-width: 1280px) {
	.activity__images {
		width 344px
	}

	.activity__content {
		width 844px
	}

	.activity__content-block {
		margin-bottom 33px
	}

	.activity__our-projects {
		font-size 19px
		letter-spacing (20)
	}

	.activity-thumbs {
		margin-left -32px;
	}

	.activity-thumb {
		size(593px, 210px)
		margin-left 32px
		margin-bottom 32px
	}

	.activity-thumb__title {
		margin-top 1.3em
		margin-bottom .7em
		font-weight $fontNormal
		letter-spacing(-20)
	}

	.activity-thumb__text {
		font-size .94em
	}

}