$licenceWidth = 225px
$licenceHeight = 310px

.licences
	padding-bottom 25px

.licences__item
	rel()
	size($licenceWidth, $licenceHeight)
	empty-bg()
	display block
	float left
	margin 25px 0 0 25px
	background-color #fff
	background-size contain
	opacity .99
	box-shadow 0 0 4px 0 alpha(#000, .3)

	&:hover
		opacity .75

@media only screen and (min-width: 1280px) {
	.licences__item {
		size(282px, 387px)
		margin 30px 0 0 30px
	}

	.licences {
		padding-bottom 32px
	}
}
