.career__text-block
	margin-bottom 5px

.career__text-block-image
	size(28%, 13em)
	display inline-block
	background url("../img/s.gif") 50% 0 no-repeat
	background-size cover

.career__text-button
	margin-bottom 12px
	margin-top -15px
	text-align right

.career__vacancies-cols
	margin-left -25px

.career__vacancies-col
	width 475px
	float left
	margin-left 25px

.career__resume-col
	width 475px

.career__vacancies-title
	margin-bottom 10px
	text-transform uppercase
	font-size 15px
	font-weight $fontNormal

.vacancy-section__items
	margin-bottom 30px

.vacancy-section__department-title
	margin-bottom 9px
	font-weight $fontBook

.vacancy-preview
	rel()
	size(100%, 38px)
	sizing()
	overflow hidden
	border 1px solid #9d9d9d
	font-size 15px
	font-weight $fontNormal
	letter-spacing(-10)
	background #fff

	& + &
		margin-top 12px

.vacancy-preview__title
	abs(left 24px top 7px)
	size(285px, 22px)
	overflow hidden

.vacancy-preview__link
	abs(right 15px top 7px)
	color #f86b58
	letter-spacing(-5)

.career__vacancies-checkbox-section
	margin-top 18px

.career__vacancies-input-section
	float right
	margin-top 5px

.vacancy-detail
	min-width: 800px;
	max-width: 1000px;
	min-height: 400px;

@media only screen and (min-width: 1280px) {
	.career__text-block-image {
		height: 235px;
	}

	.career__vacancies-col {
		width 594px
	}

	.career__vacancies-cols {
		margin-left -30px
	}

	.career__vacancies-col {
		margin-left 30px
	}

	.career__vacancies-title {
		font-size 19px
	}

	.vacancy-preview {
		& + & {
			margin-top 15px
		}
	}

	.vacancy-preview__title {
		left 29px
		top 5px
		height 1.4em
	}

	.vacancy-preview__link {
		right 21px
		top 5px
		letter-spacing(-35)
	}

	.career__resume-col {
		width 594px
	}
}
