.page-404
	padding 20px 0 140px 0

.page-404__main
	margin-bottom 18px
	font-size 63px
	line-height 1em
	letter-spacing(-3)
	color #fff

.page-404__subtext
	margin-bottom 40px
	font-size 17px
	font-weight $fontBook
	line-height 1.25em
	color #203142
