.contacts__block
	margin-bottom 2.7em

.contacts__block-content + .contacts__block-content
	margin-top .9em

.contacts__block-map-wrapper
	sizing()
	size(59%, 13.5em)
	display inline-block
	overflow hidden
	float right
	margin-top .8em
	border 1px solid #9d9d9d
	background #fff

.contacts__block-data
	width 380px
	display inline-block
	float left

.contacts-line
	margin-bottom 6px
	font-size 14px
	letter-spacing(-30)

.contacts-line__title
	float left
	width 26.3%
	margin-right 12px
	font-weight $fontBold

.contacts-line__text
	float left
	width 260px
	font-weight $fontBook
	letter-spacing(25)

.contacts__block-city
	text-transform uppercase
	margin-top 2px
	margin-bottom 6px
	font-size 1.15em
	font-weight $fontBook

@media only screen and (min-width: 1280px) {
	.contacts__block-data {
		width 40%
	}

	.contacts-line {
		font-size 18px
	}

	.contacts-line__title {
		font-weight $fontNormal
	}

	.contacts-line__text {
		width 65%
		letter-spacing(0)
	}

	.contacts__block-map-wrapper {

	}
}