$partnerSize = 175px

.partners
	padding-bottom 25px

.partners__item
	rel()
	size($partnerSize)
	sizing()
	display block
	float left
	margin 25px 0 0 25px
	box-shadow 0 0 4px 0 alpha(#000, .3)
	border 1px solid #f47d6d

	a&:hover
		.partners__item-img
			opacity .01

			&.active
				opacity .99

.partners__item-img
	abs()
	size(100%, 100%)
	empty-bg()
	background-color #fff
	background-size contain
	opacity .99

	&.active
		background-color #f47d6d
		opacity .01

@media only screen and (min-width: 1280px) {
	.partners__item {
		size(218px, 218px)
		margin 32px 0 0 32px
	}

	.partners {
		padding-bottom 32px
	}
}
