.projects.frame
	padding-top 24px

.projects__thumbs-col
	rel()
	float left
	width 188px
	margin-right 20px
	margin-bottom 10px

.project-thumb
	rel()
	size(188px, 100px)
	display block
	margin-bottom 6px
	overflow hidden

	&:before
		pseudo-abs(top right bottom left)
		trans()
		z-index 10
		display block
		background rgba(55, 55, 55, .3)
		opacity .99

	&:after
		pseudo-abs(top 7px right 13px left 13px bottom 7px)
		trans()
		content attr(title)
		z-index 10
		display block
		overflow hidden
		opacity .99
		font-size 16px
		color #fff

	&.active:before,
	&:hover:before
	&.active:after,
	&:hover:after
		opacity .01

	&.active
		cursor default

	&:hover img
		opacity .99

.project-thumb__picture
	rel()
	size(188px, 100px)

.projects__text-col
	float right
	width 762px
	display none

	&.active
		display block

$projectsColHeight = 376px
.page-projects__cols
	height $projectsColHeight

.page-projects__col-left
	size(600px, $projectsColHeight)

.page-projects__right-left
	size(340px, $projectsColHeight)

.page-projects__map,
.page-projects__gallery
	width 100%
	height 314px

.page-projects__map
	rel()

.page-projects__map img
	abs(top left right bottom)

.project-map
	display none
	height 392px
	position relative

	& > iframe
		width 100% !important
		height 100% !important

	&.active
		display block

.map-holder
	width 100% !important
	height 100% !important

	& > ymaps,
	& > img
		width 100% !important
		height 100% !important

	& > img
		background url('../img/s.gif') 50% 0 no-repeat
		background-size cover

.project-gallery
	display none

	&.active
		display block

.page-projects__gallery-picture,
.page-projects__gallery-item
	size(212px, 157px)
	display block
	overflow hidden
	float left

	img
		size(212px, 157px)
		background url('../img/s.gif') 50% 0 no-repeat
		background-size cover
		-webkit-backface-visibility hidden

@media only screen and (min-width: 1280px) {
	.projects__thumbs-col {
		width 234px
		margin-right 30px
		margin-bottom 12px
	}

	.project-thumb,
	.project-thumb__picture {
		size(234px, 126px)
	}

	.project-thumb {
		margin-bottom 8px
	}

	.project-thumb:after {
		top 8px
		left 15px
		font-size 19px
	}

	.projects__text-col {
		width 953px
	}

	.page-projects__gallery-picture,
	.page-projects__gallery-item {
		&,
		& img {
			size(265px, 196px)
		}
	}

	.page-projects__col-left,
	.page-projects__cols {
		height 469px
	}

	.page-projects__col-left {
		width 750px
	}

	.page-projects__map,
	.page-projects__gallery {
		height 392px
	}
}
