.page-main
	//

.page-main__top-slider
	width 600px
	overflow hidden
	margin-bottom 100px

.top-slider__text
	sizing()
	height 125px
	padding 25px 20px 5px 26px
	text-transform uppercase
	font-size 20px
	font-weight $fontNormal
	letter-spacing(14)
	line-height 27px
	background data-uri('../img/data_uri/main_before_slider_bg.png') 0 0 repeat
	color #fff

.page-main__col-left
	width 600px

.page-main__col-right
	width 425px

.page-main__cols_map,
.page-main__col_height_map
	height 462px


	& .content-gradient__type_no-up.content-gradient
		min-height 400px

	& .content-gradient
		min-height 402px

.page-main__cols-news,
.page-main__col_height_news
	height 375px

.page-main__vacancy,
.page-main__news
	rel()
	height 312px
	box-shadow inset 0 1px 1px 0 alpha(#000, .3)
	margin-left -1px
	margin-right -1px

.page-main__map
	height 300px

.page-main__info
	sizing()
	padding-top 25px
	padding-left 27px
	height 100px
	border-top 1px solid #434955

.info_item
	rel()
	size(175px, 45px)
	display inline-block
	text-align right
	color #50535c

	& + &
		width 195px

		&:before
			pseudo-abs(left -8px top -4px)
			size(1px, 57px)
			z-index 10
			margin 0 10px
			display inline-block
			color #969499
			background #969499

		.info_title
			left 38px

.info_title
	abs(top 16px left 20px)
	font-size 37px
	font-weight $fontLight

.info_text
	rel(top 3px)
	width 108px
	display inline-block
	padding-left 40px
	text-align left
	font-size 14px
	line-height 19px
	font-weight $fontLight
	letter-spacing(20)

@media only screen and (min-width: 1280px) {
	.page-main__top-slider {
		width 748px
		margin-bottom 156px
	}

	.top-slider__text {
		height 156px
		padding 27px 20px 5px 31px
		font-size 25px
		line-height 36px
	}

	.page-main__cols_map,
	.page-main__col_height_map {
		height 577px

		& .content-gradient__type_no-up.content-gradient {
			min-height 500px
		}

		& .content-gradient {
			min-height 502px
		}
	}

	.page-main__col-left {
		width 750px
	}

	.page-main__col-right {
		width 530px
	}

	.col-header {
		height 77px
		padding 0 10px 0 32px
		font-size 22px
		font-weight $fontNormal
		line-height 79px
		letter-spacing(15)
	}

	.page-main__cols-news,
	.page-main__col_height_news {
		height 467px
	}

	.page-main__vacancy,
	.page-main__news {
		height 390px
	}

	.page-main__map {
		height 375px
	}

	.page-main__info {
		height 125px
		padding-top 30px
	}

	.info_title {
		top 20px
		left 30px
		font-size 50px
		font-weight $fontBook
	}

	.info_text {
		width 139px
		padding-left 97px
		font-size 19px
		line-height 27px
	}
	
	.info_item {
		width 232px
	}

	.info_item + .info_item {
		width 240px

		&:before {
			top -2px
			height 69px
		}
	}
}
