.board
	rel()
	padding-bottom 20px

$brickWidth = 125px
$brickHeight = 63px
$brickColor = #f86b58
$brickSpace = 25px
$brickWidthDelta = 24px

$brickWidth1280 = 154px
$brickHeight1280 = 78px
$brickSpace1280 = 31px
$brickWidthDelta1280 = 24px

.board-brick
	size($brickWidth, $brickHeight)
	display table

.board-brick-wrapper__width_small
	width 100px

.board-brick > div
	rel()
	sizing()
	size(100%, 100%)
	z-index 50
	display table-cell
	vertical-align middle
	overflow hidden
	text-align center
	color #fff
	background $brickColor
	box-shadow 0 0 4px 0 alpha(#000, .20)

	span
		display block
		margin-bottom 5px
		text-transform uppercase
		font-size 13px
		font-weight $fontLight
		line-height 1.2em

	b
		display block
		font-size 12px
		letter-spacing(-10)
		font-weight $fontLight
		line-height 1.2em

.board-brick.fake
	visibility hidden

.board-brick__width_widest
	width $brickWidth + (2 * $brickWidthDelta)
	margin-left (100px - $brickWidthDelta) !important
	margin-right - $brickWidthDelta !important

.board__line
	rel()
	margin-bottom $brickSpace
	min-height $brickHeight

.board__line_type_center-item .board-brick
	margin 0 auto

.board__line_type_query .board-brick
	float left

	& + .board-brick
		margin-left 24px

.board__line_type_last
	margin-top 30px

.board__line_center_narrow
	rel()
	width 423px
	margin 0 auto

.board__line_center_wide
	rel()
	width 580px
	margin 0 auto

	.board-brick + .board-brick
		margin-left 100px

.board-brick__type_3
	position absolute
	right ($brickWidthDelta * 2 + $brickWidth + $brickSpace)

.board-brick__type_4
	position absolute
	right -($brickWidthDelta * 2 / 3 + $brickWidth + $brickSpace)

.board-brick-line
	abs()
	size(1px)
	overflow hidden
	background $brickColor

.board-brick-line-1
	abs(top ($brickHeight / 2) left right)
	height (($brickHeight + $brickSpace) * 2)
	margin 0 auto

.board-brick-line-2
	abs(top ($brickHeight / 2) left 50% right ($brickWidth / 2))
	width auto

.board-brick-line-3
	abs(top ($brickHeight / 2) left ($brickWidth / 2) right ($brickWidth / 2))
	width auto

.board-brick-line-4
	abs(top ($brickHeight / 2) left ($brickWidth / 2))
	height (($brickHeight + $brickSpace) * 2)

.board-brick-line-5
	abs(top ($brickHeight / 2) right ($brickWidth / 2))
	height ($brickHeight + $brickSpace)

.board-brick-line-6
	abs(top ($brickHeight / 2) left 50% right (- $brickWidth))
	width auto

.board-brick-line-7
	abs(top ($brickHeight / 2) left ($brickWidth / 2) right (5 * $brickWidth / 2))
	width auto

@media only screen and (min-width: 1280px) {
	.board-brick {
		width: 154px;
		height: 78px;
	}

	.board-brick-wrapper__width_small {
		width 124px
	}

	.board-brick > div span {
		font-size: 16px;
	}

	.board-brick > div b {
		font-size: 16px;
	}

	.board-brick__width_widest {
		width $brickWidth1280 + (2 * $brickWidthDelta1280)
		margin-left (100px - $brickWidthDelta1280) !important
		margin-right - $brickWidthDelta1280 !important
	}

	.board__line {
		margin-bottom $brickSpace1280
		min-height $brickHeight1280
	}

	.board__line_type_query .board-brick {
		& + .board-brick {
			margin-left $brickSpace1280
		}
	}

	.board__line_type_last {
		margin-top 30px
	}

	.board__line_center_narrow {
		width 524px
	}

	.board__line_center_wide {
		width 662px

		.board-brick + .board-brick {
			margin-left 100px
		}
	}

	.board-brick__type_3 {
		right ($brickWidthDelta1280 * 2 + $brickWidth1280 + $brickSpace1280)
	}

	.board-brick__type_4 {
		right -($brickWidthDelta1280 * 2 / 3 + $brickWidth1280 + $brickSpace1280)
	}

	.board-brick-line-1 {
		abs(top ($brickHeight1280 / 2) left right)
		height (($brickHeight1280 + $brickSpace1280) * 2)
	}

	.board-brick-line-2 {
		abs(top ($brickHeight1280 / 2) left 50% right ($brickWidth1280 / 2))
	}

	.board-brick-line-3 {
		abs(top ($brickHeight1280 / 2) left ($brickWidth1280 / 2) right ($brickWidth1280 / 2))
	}

	.board-brick-line-4 {
		abs(top ($brickHeight1280 / 2) left ($brickWidth1280 / 2))
		height (($brickHeight1280 + $brickSpace1280) * 2)
	}

	.board-brick-line-5 {
		abs(top ($brickHeight1280 / 2) right ($brickWidth1280 / 2))
		height ($brickHeight1280 + $brickSpace1280)
	}

	.board-brick-line-6 {
		abs (top ($brickHeight1280 / 2) left 50% right (- $brickWidth1280))
	}

	.board-brick-line-7 {
		abs(top ($brickHeight1280 / 2) left ($brickWidth1280 / 2) right (5 * $brickWidth1280 / 2))
	}

	.board__line_left-shift {
		margin-left 93px
	}


}
