$pressHeight = 175px

.press__subheader-multimedia
	margin-bottom -5px

.press__white-frames
	margin-top 23px
	margin-bottom -10px

.press__white-frames .white-frames__item
	height $pressHeight

	.white-frames__content
		height 175px

.press__white-frames-item
	sizing()
	height $pressHeight
	overflow hidden
	float left
	border 1px solid #9d9d9d
	margin-left 25px

	& img
		size(100%)
		background url('') 50% 50% no-repeat
		background-size cover

.press__white-frames-item_type_video
	display inline-block
	size(272px, $pressHeight)

	iframe
	object
		size(100%)

.press__white-frames-item_type_video_detail
	size(300px, auto)
	overflow hidden
	float right
	margin 0 0 0 25px

.detail-new__date
	position relative
	height 30px

	& .white-frames__date
		top 0
		margin-left 0

.press__white-frames-item-picture
	display inline-block
	height $pressHeight
	size($pressHeight)

@media only screen and (min-width: 1280px) {
	.white-frames__date {
		font-size 19px
		font-weight $fontBook
		letter-spacing(-70)
	}

	.white-frames__date {
		top -30px
	}

	.press__white-frames {
		margin-top 28px
		margin-bottom -13px
	}

	.press__white-frames .white-frames__item,
	.press__white-frames-item_type_video,
	.press__white-frames-item {
		height 219px
	}

	.press__white-frames-item {
		margin-left 32px
	}

	.press__white-frames-item-picture {
		size(219px)
	}

	.press__white-frames-item_type_video {
		width 341px
	}
}