@font-face {
	font-family: 'FuturaPT';
	src: url('fonts/FuturaPTLight.eot');
	src: local('☺'), url('fonts/FuturaPTLight.woff') format('woff'), url('fonts/FuturaPTLight.ttf') format('truetype'), url('fonts/FuturaPTLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPT';
	src: url('fonts/FuturaPTMedium.eot');
	src: local('☺'), url('fonts/FuturaPTMedium.woff') format('woff'), url('fonts/FuturaPTMedium.ttf') format('truetype'), url('fonts/FuturaPTMedium.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPT';
	src: url('fonts/FuturaPTBook.eot');
	src: local('☺'), url('fonts/FuturaPTBook.woff') format('woff'), url('fonts/FuturaPTBook.ttf') format('truetype'), url('fonts/FuturaPTBook.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPT';
	src: url('fonts/FuturaPTBold.eot');
	src: local('☺'), url('fonts/FuturaPTBold.woff') format('woff'), url('fonts/FuturaPTBold.ttf') format('truetype'), url('fonts/FuturaPTBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
