.btn
	sizing()
	size(13.5em, 2.15em)
	display inline-block
	overflow hidden
	border 1px solid #f86b58
	text-align center
	font-size 15px
	font-weight $fontNormal
	text-transform uppercase
	line-height 2em
	color #f86b58
	background transparent
	padding 0 2px

.btn__color_orange
	color #fff
	background #f86b58

.btn__width_auto
	width auto !important
	padding 0 .5em

.form-submit-section
	text-align right

.control-wrapper-margin
	margin-bottom 12px

.control-wrapper
	rel()
	sizing()
	size(100%, 38px)
	border 1px solid #9d9d9d
	background #fff
	overflow hidden

.control-wrapper.error
	border-color #c33

.control-wrapper__text
	//padding 7px 19px

.control-label
	abs(top 11px left 24px)
	display inline-block
	height 14px
	font-size 15px
	line-height 14px
	font-weight $fontBook
	color #bec4cd
	cursor text

	.control-wrapper.filled &,
	.control-wrapper .control:focus + &
		display none

.control
	size(100%, 100%)
	sizing()
	display block
	margin 0
	padding 0
	border 1px solid #fff
	border-width 7px 24px
	vertical-align top
	font-size 15px
	font-weight $fontBook
	line-height 14px

:-moz-submit-invalid,
:-moz-ui-invalid
	box-shadow none

.control-wrapper-checkbox,
.control-wrapper-radio
	margin-bottom 7px

	label
		cursor pointer
		font-weight $fontBook

	.error
		color #c33

input,
textarea
	outline none !important
	border-radius 0

textarea
	resize none

.control-wrapper.control-wrapper__file
	rel()

	&:before
		pseudo-abs(top 8px right 23px)
		sprite($clip)
		z-index 5
		display block

	&.control-wrapper .control-label
		abs(top bottom left right)
		z-index 10
		display block
		height auto
		overflow hidden
		padding-top 11px
		padding-left 24px
		cursor default
		background data-uri('../img/data_uri/file_bg.png') 0 0 repeat

	&.filled .control-label,
	.control:focus + .control-label
		display block !important

	&.filled:before
		sprite($clip_active)

.control-file
	font-size 50px
	background #fff
	color #fff
	opacity 0
	border-width 50px

#ui-datepicker-div
	font-size .8em !important

.form-message
	trans()
	overflow hidden
	max-height 0
	padding 0

	&:not(.has-error)
		text-align center
		font-size 20px
		font-weight $fontBook
		color #41B241

		&.expanded
			padding 20px 0

	&.has-error
		color #c33

	&.expanded
		max-height 50px

@media only screen and (min-width: 1280px) {
	.btn {
		size(13.5em, 2.15em)
		font-size: 19px;
	}

	.career__text-button {
		margin-bottom: 1em;
	}

	.control-wrapper {
		width 594px
	}

	.control-wrapper-checkbox,
	.control-wrapper-radio {
		font-size .8em
	}
}
