@require 'plugins/sliderkit-core.css'
@require 'plugins/select2/select2.css'
@require 'plugins/touchcarousel.css'
@require 'plugins/jquery-ui/jquery-ui-1.10.4.custom.css'
@require 'plugins/icheck/red.css'
@require 'plugins/jquery.qtip.css'
@require 'plugins/fancybox/jquery.fancybox.css'
@require 'lib/nib'
@require 'lib/sprite/sprite.styl'
@require 'lib/*.styl'

html
button
input
select
textarea
body
	font-family $font
	font-weight $fontLight
	line-height 1.5em

html,
body
	height 100%

.btm-bg
	background url("../img/bg_bottom.png") 0 100% no-repeat
	background-size 100%
	min-height 1200px

.top-bg
	background url("../img/bg_top.png") 0 0 no-repeat
	background-size 100%

p
	margin 0 0 23px 0

.frame
	padding 20px 25px 25px 25px

.frame__top_bold
	padding-top 31px

.content-gradient
	margin-top -2px
	background url("../img/center_bg.png") 0 0 no-repeat
	background-size 100% 100%

	.lt-ie9 &
		background data-uri('../img/data_uri/main_bg.png') 0 0 repeat

.content-gradient__type_no-up
	margin-top 0

.subheader
	text-transform: uppercase
	font-size 20px
	font-weight $fontBook
	padding-bottom 11px
	margin-bottom 18px

	border-bottom 1px solid #cfd1d3

	& > a
		color $color

.subheader__underline_none
	border-bottom none
	margin-bottom 12px

.subheader__uppercase_none
	text-transform none

h3,
.h3
	margin-bottom 27px
	font-size 23px
	font-weight $fontNormal
	letter-spacing(-20)

h4,
.h4
	margin-bottom 3px
	font-size 16px
	font-weight $fontBook
	letter-spacing(-30)

.content
	img[align="left"]
		margin 3px 25px 23px 0

	img[align="right"]
		margin 3px 0 23px 25px

.width-block
	width $siteWidth
	margin auto

.width-block_overflow_hidden
	overflow hidden

a
	trans()
	text-decoration none
	color #f86b58

	&:hover
		color inherited

	& img
		trans()
		opacity .99

	&:hover img
		opacity .8

	&.active
		cursor default

table
	width 100%

td,
th
	vertical-align top
	padding 0

ol,
ul
	list-style-type none
	margin 0 0 23px 0
	padding 0

	li
		margin 0 0 1px 45px
		padding 0

		&:before
			rel()
			content '-'
			margin-right 3px

		ul,
		li
			margin-bottom 0

hr
	margin 24px 0 48px 0
	border-top none

	&:before
		pseudo()
		size(375px 1px)
		display block
		margin auto
		background $color
		opacity .25

body:before,
body:after
	pseudo()
	fixed(top, right, bottom, left)
	display none

body:before
	z-index 1000
	background #fff
	opacity .6

body:after
	z-index 1010
	background url('../img/ajax_loader_light.gif') 50% 50% no-repeat

body.is-loading:before,
body.is-loading:after
	display block

.empty-page
	padding 50px 0 50px 0
	text-align center

@media only screen and (min-width: 1280px) {
	html {
		font-size 19px
	}

	p {
		margin 0 0 29px 0
	}

	.width-block {
		width $siteWidthWide
	}

	.frame {
		padding 40px 31px 41px 31px
	}

	.frame__top_bold {
		padding-top 45px
	}

	.content {
		img[align="left"] {
			margin 3px 31px 27px 0
		}

		img[align="right"] {
			margin 3px 0 27px 31px
		}
	}

	.subheader {
		font-size 25px
		padding-bottom 14px
		margin-bottom 24px
	}

	.subheader__underline_none {
		margin-bottom 18px
	}

	h3,
	.h3 {
		margin-bottom 31px
		font-size 28px
		letter-spacing(-5)
	}

	h4,
	.h4 {
		margin-bottom 5px
		font-size 19px
		letter-spacing(-5)
	}

	ol,
	ul {
		margin 0 0 30px 0

		li {
			margin 0 0 0 57px
		}
	}

	hr {
		margin 29px 0 61px 0

		&:before {
			width 38.5%
			height 2px
		}
	}
}

@require 'partials/small/*.styl'
@require 'form.styl'
@require 'partials/*.styl'
