@import 'plugins/sliderkit-core.css';
@import 'plugins/select2/select2.css';
@import 'plugins/touchcarousel.css';
@import 'plugins/jquery-ui/jquery-ui-1.10.4.custom.css';
@import 'plugins/icheck/red.css';
@import 'plugins/jquery.qtip.css';
@import 'plugins/fancybox/jquery.fancybox.css';

html,
button,
input,
select,
textarea,
body {
	font-family: 'FuturaPT', sans-serif;
	font-weight: 300;
	line-height: 1.5em;
}

html,
body {
	height: 100%;
}

.btm-bg {
	background: url("../img/bg_bottom.png") 0 100% no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	min-height: 1200px;
}

.top-bg {
	background: url("../img/bg_top.png") 0 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
}

p {
	margin: 0 0 23px 0;
}

.frame {
	padding: 20px 25px 25px 25px;
}

.frame__top_bold {
	padding-top: 31px;
}

.content-gradient {
	margin-top: -2px;
	background: url("../img/center_bg.png") 0 0 no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}

.lt-ie9 .content-gradient {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P///xmAAAMACcgDyob6aEsAAAAASUVORK5CYII=") 0 0 repeat;
}

.content-gradient__type_no-up {
	margin-top: 0;
}

.subheader {
	position: relative;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 11px;
	padding-right: 110px;
	margin-bottom: 18px;
	border-bottom: 1px solid #cfd1d3;
}

.subheader > a {
	color: #2f3744;
}

.subheader__underline_none {
	border-bottom: none;
	margin-bottom: 12px;
}

.subheader__uppercase_none {
	text-transform: none;
}

h3,
.h3 {
	margin-bottom: 27px;
	font-size: 23px;
	font-weight: 400;
	letter-spacing: -0.02em;
}

h4,
.h4 {
	margin-bottom: 3px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.03em;
}

.content img[align="left"] {
	margin: 3px 25px 23px 0;
}

.content img[align="right"] {
	margin: 3px 0 23px 25px;
}

.width-block {
	width: 1025px;
	margin: auto;
}

.width-block_overflow_hidden {
	overflow: hidden;
}

a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
	color: #f86b58;
}

a:hover {
	color: inherited;
}

a img {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0.99;
}

a:hover img {
	opacity: 0.8;
}

a.active {
	cursor: default;
}

table {
	width: 100%;
}

td,
th {
	vertical-align: top;
	padding: 0;
}

ol,
ul {
	list-style-type: none;
	margin: 0 0 23px 0;
	padding: 0;
}

ol li,
ul li {
	margin: 0 0 1px 45px;
	padding: 0;
}

ol li:before,
ul li:before {
	position: relative;
	content: '-';
	margin-right: 3px;
}

ol li ul,
ul li ul,
ol li li,
ul li li {
	margin-bottom: 0;
}

hr {
	margin: 24px 0 48px 0;
	border-top: none;
}

hr:before {
	content: '';
	position: relative;
	width: 375px;
	height: 1px;
	display: block;
	margin: auto;
	background: #2f3744;
	opacity: 0.25;
}

body:before,
body:after {
	content: '';
	position: relative;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	display: none;
}

body:before {
	z-index: 1000;
	background: #fff;
	opacity: 0.6;
}

body:after {
	z-index: 1010;
	background: url("../img/ajax_loader_light.gif") 50% 50% no-repeat;
}

body.is-loading:before,
body.is-loading:after {
	display: block;
}

.empty-page {
	padding: 50px 0 50px 0;
	text-align: center;
}

@media only screen and (min-width: 1280px) {
	html {
		font-size: 19px;
	}

	p {
		margin: 0 0 29px 0;
	}

	.width-block {
		width: 1280px;
	}

	.frame {
		padding: 40px 31px 41px 31px;
	}

	.frame__top_bold {
		padding-top: 45px;
	}

	.content img[align="left"] {
		margin: 3px 31px 27px 0;
	}

	.content img[align="right"] {
		margin: 3px 0 27px 31px;
	}

	.subheader {
		font-size: 25px;
		padding-bottom: 14px;
		margin-bottom: 24px;
	}

	.subheader__underline_none {
		margin-bottom: 18px;
	}

	h3,
	.h3 {
		margin-bottom: 31px;
		font-size: 28px;
		letter-spacing: -0.005em;
	}

	h4,
	.h4 {
		margin-bottom: 5px;
		font-size: 19px;
		letter-spacing: -0.005em;
	}

	ol,
	ul {
		margin: 0 0 30px 0;
	}

	ol li,
	ul li {
		margin: 0 0 0 57px;
	}

	hr {
		margin: 29px 0 61px 0;
	}

	hr:before {
		width: 38.5%;
		height: 2px;
	}
}

@-webkit-keyframes bounce-in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.3);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	70% {
		-webkit-transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes bounce-out {
	0% {
		-webkit-transform: scale(1);
	}
	25% {
		-webkit-transform: scale(0.95);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.3);
	}
}

.animated {
	-webkit-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	-ms-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	animation-fill-mode: both;
}

.hide-animation {
	-webkit-animation-name: fade-out;
	-webkit-animation-name: fade-out;
	-moz-animation-name: fade-out;
	-o-animation-name: fade-out;
	-ms-animation-name: fade-out;
	animation-name: fade-out;
}

.show-animation {
	-webkit-animation-name: fade-in;
	-webkit-animation-name: fade-in;
	-moz-animation-name: fade-in;
	-o-animation-name: fade-in;
	-ms-animation-name: fade-in;
	animation-name: fade-in;
}

@-moz-keyframes bounce-in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-o-transform: scale(0.3);
		-ms-transform: scale(0.3);
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}
	70% {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes bounce-in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-o-transform: scale(0.3);
		-ms-transform: scale(0.3);
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}
	70% {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-o-keyframes bounce-in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-o-transform: scale(0.3);
		-ms-transform: scale(0.3);
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}
	70% {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes bounce-in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-o-transform: scale(0.3);
		-ms-transform: scale(0.3);
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}
	70% {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes bounce-out {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	25% {
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-o-transform: scale(0.95);
		-ms-transform: scale(0.95);
		transform: scale(0.95);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-o-transform: scale(0.3);
		-ms-transform: scale(0.3);
		transform: scale(0.3);
	}
}

@-webkit-keyframes bounce-out {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	25% {
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-o-transform: scale(0.95);
		-ms-transform: scale(0.95);
		transform: scale(0.95);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-o-transform: scale(0.3);
		-ms-transform: scale(0.3);
		transform: scale(0.3);
	}
}

@-o-keyframes bounce-out {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	25% {
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-o-transform: scale(0.95);
		-ms-transform: scale(0.95);
		transform: scale(0.95);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-o-transform: scale(0.3);
		-ms-transform: scale(0.3);
		transform: scale(0.3);
	}
}

@keyframes bounce-out {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	25% {
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-o-transform: scale(0.95);
		-ms-transform: scale(0.95);
		transform: scale(0.95);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-o-transform: scale(0.3);
		-ms-transform: scale(0.3);
		transform: scale(0.3);
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.scroller {
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.scroller::-webkit-scrollbar {
	width: 0;
}

.scroller__bar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	width: 5px;
	background: #d6d8da;
	pointer-events: none;
	opacity: 0.01;
}

.scroller__bar {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	position: absolute;
	z-index: 1;
	width: 5px;
	background: #616771;
	opacity: 0.01;
	pointer-events: auto;
}

.baron {
	overflow: hidden;
}

.baron .scroller__bar-wrapper {
	opacity: 0.99;
	z-index: 100;
}

.baron .scroller__bar {
	opacity: 0.99;
}

.baron .scroller__bar:hover {
	opacity: 0.9;
}

.cols-line {
	overflow: hidden;
}

.col {
	overflow: hidden;
}

.cols-line__col-left {
	float: left;
}

.cols-line__col-right {
	float: right;
}

.col-header {
	height: 62px;
	overflow: hidden;
	padding: 0 10px 0 26px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi0Dd3eQYQYAAC1AGR7XxviQAAAABJRU5ErkJggg==") 0 0 repeat;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	line-height: 64px;
	color: #fff;
}

.col_color_pink .content-gradient {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi+FKbKwUQYAAGQAH5GyYVCAAAAABJRU5ErkJggg==") 0 0 repeat;
	background-color: #fff;
}

.col_color_pink .col-header {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi+FKb+wwgwAAHDALFZG/HIwAAAABJRU5ErkJggg==") 0 0 repeat;
}

.col_color_pink .scroller__bar-wrapper {
	background: #fde6e3;
}

.col_color_pink .scroller__bar {
	background: #f47d6d;
}

.col-header__select-wrapper {
	position: relative;
}

.col-header__select {
	position: absolute;
	top: -144px;
	right: 25px;
	text-transform: none;
}

@media only screen and (min-width: 1280px) {
	.col-header__select {
		top: -169px;
	}
}

.icheckbox_minimal-red,
.iradio_minimal-red {
	margin-right: 9px;
	top: -2px;
}

.icheckbox_minimal-red,
.iradio_minimal-red {
	width: 25px;
	height: 25px;
}

.icheckbox_minimal-red {
	background-position: 0 0;
}

.icheckbox_minimal-red.hover {
	background-position: -25px 0;
}

.icheckbox_minimal-red.checked {
	background-position: -50px 0;
}

.icheckbox_minimal-red.disabled {
	background-position: -75px 0;
}

.icheckbox_minimal-red.checked.disabled {
	background-position: -100px 0;
}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	.icheckbox_minimal-red {
		-webkit-background-size: 200px 25px;
		-webkit-background-size: 200px 25px;
		-moz-background-size: 200px 25px;
		background-size: 200px 25px;
	}
}

.main-map {
	position: relative;
	height: 240px;
	overflow: hidden;
	background: url("../img/main_map.png") 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.main-map__item {
	position: absolute;
	background-image: url("../img/sprite.png");
	background-position: 0px -38px;
	width: 14px;
	height: 14px;
	background: url("../img/sprite2x/map_pin.png") 50% 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.main-map__item {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.main-map__item:before {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	content: '';
	position: absolute;
	left: -1px;
	top: -20px;
	background-image: url("../img/sprite.png");
	background-position: 0px -167px;
	width: 32px;
	height: 33px;
	background: url("../img/sprite2x/map_pin_active.png") 50% 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	display: block;
	opacity: 0.01;
	z-index: -10;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.main-map__item:before {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.main-map__item:after {
	content: '';
	position: absolute;
	top: -26px;
	width: 35px;
	height: 37px;
	display: block;
	opacity: 0.01;
	z-index: -1;
	overflow: hidden;
}

.main-map__item:hover:before,
.main-map__item:hover:after,
.main-map__item:hover .main-map__popup {
	opacity: 0.99;
	z-index: 10;
}

.main-map__popup {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	position: absolute;
	left: 32px;
	bottom: 13px;
	z-index: -10;
	opacity: 0.01;
	background: #434955;
	white-space: nowrap;
	font-size: 9px;
	line-height: 14px;
	color: #fff;
}

.main-map__popup-text,
.main-map__popup-year {
	display: block;
}

.main-map__popup-text {
	padding: 4px 4px 6px 7px;
	letter-spacing: 0.015em;
	font-size: 15px;
	font-weight: 300;
	line-height: 17px;
}

.main-map__popup-year {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 20px;
	border-top: 1px solid #f47d6d;
	padding: 3px 5px 0 5px;
	-webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
	text-align: center;
	font-size: 11px;
}

@media only screen and (min-width: 1280px) {
	.main-map__item {
		width: 18px;
		height: 18px;
	}

	.main-map__item:before {
		width: 42px;
		height: 43px;
		top: -26px;
	}

	.main-map__item:after {
		width: 50px;
		height: 50px;
	}

	.main-map__popup {
		left: 40px;
		bottom: 17px;
	}

	.main-map__popup-text {
		padding: 5px 6px 6px 9px;
		font-size: 19px;
		line-height: 21px;
	}

	.main-map__popup-year {
		height: 25px;
		padding: 4px 5px 0 5px;
		font-size: 15px;
	}
}

.main-projects__item {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100px;
	display: block;
	padding-left: 193px;
	color: #2f3744;
	cursor: pointer;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	overflow: hidden;
}

.main-projects__item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: block;
	height: 1px;
	background: rgba(244, 244, 245, 0.5);
}

.main-projects__picture {
	position: absolute;
	left: 0;
	top: -1px;
	width: 188px;
	height: 100px;
	background: url("../img/s.gif") 50% 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	z-index: 5;
	margin-right: 20px;
}

.main-projects__title,
.main-projects__subtitle {
	display: inline-block;
	padding-left: 20px;
	padding-right: 10px;
}

.main-projects__title {
	padding-top: 11px;
	font-size: 17px;
	line-height: 24px;
	font-weight: 400;
}

.main-projects__subtitle {
	margin-top: 6px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
}

@media only screen and (min-width: 1280px) {
	.main-projects__item {
		height: 125px;
		padding-left: 246px;
	}

	.main-projects__picture {
		width: 235px;
		height: 130px;
	}

	.main-projects__title {
		padding-top: 14px;
		font-size: 22px;
		line-height: 31px;
	}

	.main-projects__subtitle {
		font-size: 19px;
		line-height: 20px;
	}
}

.qtip {
	max-width: 350px;
}

.qtip-local {
	border: none;
	background: #ebd5d5;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: #c33;
	margin-top: -7px;
}

.qtip-local .qtip-tip {
	margin-right: 7px;
}

.qtip-local .qtip-tip * {
	display: none;
}

.qtip-local .qtip-content {
	padding: 6px 10px;
}

.select2-container {
	font-size: 16px;
	font-weight: 300;
	color: #2f3744;
	outline: none;
	background: #fff;
}

.select2-default {
	color: #bec4cd !important;
}

.select2-container .select2-choice {
	height: 36px;
	line-height: 32px;
	padding-left: 24px;
	border: 1px solid #9d9d9d;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: transparent;
	color: #2f3744;
	letter-spacing: -0.015em;
}

.select2-drop {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.select2-dropdown-open .select2-choice {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.select2-drop-active,
.select2-container-active.select2-dropdown-open .select2-choice {
	border: 1px solid #9d9d9d;
	border-top: none;
}

.select2-container .select2-choice:hover {
	border-color: #9d9d9d;
	color: #2f3744;
}

.select2-container-active .select2-choice,
.select2-container-active:hover .select2-choice {
	border: 1px solid #9d9d9d !important;
	color: #2f3744 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.select2-container .select2-choice > .select2-chosen {
	margin-right: 34px;
	padding-top: 1px;
}

.select2-container .select2-choice .select2-arrow {
	width: 46px;
	background: #fff;
	border-left: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.select2-container .select2-choice .select2-arrow b {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL5JREFUeNpi3HfkLC8DA8MkID7iaG00lwEH2H/0XBKQMgPiXBYgMRuIw4E4ASjxC6hxMRYNMUAKZiALE5BYBsS/oQKLgApS0TSkACmYQSB1mxn///8PkjAFcg4AMRdUMg1o42yohtlQsW9A7AgUPwXWBDVRH6pRAKpoAxAHQNkfgdgeqOEiiAPXBNWoCaQOArEokgtfQzVchwkwIbsfKmEJxE+hQs+A2ApZA4YmqMa7QMoBGloOQP4ddDUAAQYA1nRGEw9yeR8AAAAASUVORK5CYII=") 9px 14px no-repeat;
}

.select2-container.select2-dropdown-open .select2-choice .select2-arrow b {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	background-position: -18px 14px;
}

.select2-container .select2-choice:hover {
	border-color: #9d9d9d;
	color: #2f3744;
}

.select2-container .select2-choice:hover .select2-arrow b,
.select2-container-active .select2-choice .select2-arrow b,
.select2-container-active .select2-choice:hover .select2-arrow b {
	opacity: 0.7;
}

.select2-drop-active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.select2-results {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	max-height: 320px;
	font-size: 15px;
	font-weight: 300;
	color: #2f3744;
	margin: 0;
	padding: 0;
}

.select2-result {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.select2-search-choice-close {
	display: none !important;
}

.select2-results .select2-highlighted {
	color: #2f3744;
	background: rgba(0, 0, 0, 0.05);
}

.select2-results .select2-result-label {
	padding: 3px 7px 5px 24px;
}

.select2-drop {
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	-o-transition: max-height 0.3s;
	-ms-transition: max-height 0.3s;
	transition: max-height 0.3s;
	display: block;
	overflow: hidden;
	max-height: 0;
	margin-top: -2px;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	color: #2f3744;
}

.select2-drop.opened {
	max-height: 320px;
	border: 1px solid #f47d6d;
	border-top: none;
}

.select2-drop ul,
.select2-drop li {
	margin: 0;
	padding: 0;
}

.select2-drop ul:before,
.select2-drop li:before {
	display: none;
}

.select2-container .select2-choice abbr {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	top: 10px;
	right: 40px;
}

.select2-container .select2-choice abbr:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.select2-container .select2-choice,
.select2-container.select2-drop-above .select2-choice,
.select2-container .select2-choice .select2-arrow,
.select2-dropdown-open .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-container-multi .select2-choices .select2-search-choice {
	filter: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.select2-container .select2-choice .select2-arrow b {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAYAAAAI0W+oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaBJREFUeNqclE0rRFEYx2fuDPISGaGsxl7J22pIRiJFyhRZ2bGzHDZKdhYWsmLjdTMUSpKXQUZYGB/BV5hppGZq8HvqTN2uc68789Sv03lezv/cc59zvPHEm0dZM8zAKXx4XNpAqPOP7+4pGWTogxPin+IzVKwVXmAdXqHDU6Ih0q7W2JMp84aCkIgkIKhyG+EWekoQ6WKIQ5NydcM9/oAIjUOLpaYebqC3CJGQ2mDAEmoTDRHagaSmthYuIexCpF/l1mnC7/KvRCgNg/CsSaqGcxhxEBlmuIAaTVj+VZiGSBeaIQVS8KBJroQzmNDExlSsShN7hCFEUuauE8vAKFxpisohBlMmXwSOoUKTfy2ngEim4PBbEr5Ucxyp3ZqtDA7VwnnYBZ9GRI46gkjW7DQ0iVm125gm5lPNYyciXzhpFbETEsupV2JfE/PaiBzANCI53YKGQ9fK8czClotrtC25iOTtEox/FviGedhwyNmEOScRXTPo7AcWVKMsWmJrCETdvBxGEU/ZEiyb5isQdVvsL/LdXFW33WNz32ztV4ABAGAJYs8JGVW6AAAAAElFTkSuQmCC") !important;
	}

	.orange-dark .select2-container .select2-choice .select2-arrow b {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAYAAAAI0W+oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYFJREFUeNqk1M0rRGEUx/E7L8hLZISyYq8kLISUSaSIKLKyYyNL2SjZyMJCVmy8boZCTZJ3UcyGP8G/YBqpUYPvU+fqdjt3XObUZzHPOc/9PTPzzARao0OWVDXGcYQXK7eqRQcO8WYWgtKowyNWkEBjDiEN8oxtXKPCDjIh93IKU5W4RMs/QppwhSp53YwbREzQAGpcG8pxgfY/hLTJASOu9XqTYYI28aRsLMUpunyEdMpsmdJ7Nt+VCUoiigdlqBhx9GYJ6cEJSpReQg6atC/Dq2y4VYYLcYxBpdcvvSKld4duefbPrTOVQh/OlE35iGHUsTaCAxQo8+fyKaTshbBr4F0ux76c1ll52JMHZ7CFkBISl0OknYtBZTAtgzGlF5LL4xVi3uGwO8QryNSH/EvsKL2AR8guxmSv5TfIko9nAus+rveGzGa8BoK/POATU1jNMrOGyWwhfoJMfWEGS0pvGdMyY+UaZNcc5h2vFzDrd3P4j3+ai/Jrtzx+b571LcAAq7lHUA+EVhwAAAAASUVORK5CYII=") !important;
	}

	.select2-container .select2-choice .select2-arrow b,
	.select2-container .select2-choice:hover .select2-arrow b,
	.select2-container-active .select2-choice .select2-arrow b,
	.select2-container-active .select2-choice:hover .select2-arrow b {
		background-position: 9px 12px;
		-webkit-background-size: 50% !important;
		-moz-background-size: 50% !important;
		background-size: 50% !important;
	}
}

.error .select2-container .select2-choice,
.error.select2-drop {
	border-color: #c33 !important;
}

.orange-dark .select2-container .select2-choice {
	height: 33px;
	padding-left: 11px;
}

.orange-dark .select2-container {
	background: #2f3744;
}

.orange-dark .select2-container,
.orange-dark .select2-container .select2-choice,
.orange-dark .select2-container .select2-choice:hover,
.orange-dark .select2-results,
.orange-dark .select2-drop {
	color: #f47d6d;
}

.orange-dark .select2-container-active .select2-choice,
.orange-dark .select2-container-active:hover .select2-choice {
	border-color: #f47d6d !important;
	color: #f47d6d !important;
}

.orange-dark .select2-container .select2-choice,
.orange-dark .select2-drop-active,
.orange-dark .select2-container-active.select2-dropdown-open .select2-choice,
.orange-dark .select2-container .select2-choice:hover,
.orange-dark .select2-drop.opened {
	border-color: #f47d6d;
}

.orange-dark .select2-container .select2-choice .select2-arrow {
	background: #f47d6d;
}

.orange-dark .select2-results {
	background: #2f3744;
}

.orange-dark .select2-results .select2-highlighted {
	color: #fff;
	background: rgba(255, 255, 255, 0.05);
}

.orange-dark .select2-drop-active {
	background: #2f3744;
}

.orange-dark .select2-container .select2-choice .select2-arrow b {
	background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpitHQO5GVgYJgExEeAeC4DbpAExGZAnMsCJGYDcTgQJwDxLyBejEVDDJKBLExAYhkQ/4YKLALiVDQNKUgGgdRtBmnaBMTWQPwNKjELSWMK1CUMUHkbIN7IBBU4DcRWQPwBSeN6JA0fofKnQBwmJGdchEq8hvIDoDSIbwmVZ0DXBALXoQqeQvnPoAZdR1bEhCWk7gKxAzS0QPQddAUAAQYAs1MjvOUD/kEAAAAASUVORK5CYII=") 11px 14px no-repeat;
}

.orange-dark .select2-results .select2-result-label {
	padding: 3px 7px 5px 11px;
}

.orange-dark .select2-container .select2-choice .select2-arrow {
	width: 34px;
}

.orange-dark .select2-container .select2-choice > .select2-chosen {
	padding-top: 0;
}

.sliderkit a:focus {
	outline: none;
}

.main-sliderkit {
	position: relative;
	height: 88px;
	width: 600px;
	background: #2f3744;
	margin: 0 auto;
	overflow: hidden;
}

.main-sliderkit .sliderkit-nav {
	height: 88px;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0;
	font-size: 0;
}

.main-sliderkit .sliderkit-nav-clip {
	z-index: 50;
	margin-left: 35px;
}

.main-sliderkit .sliderkit-nav-clip ul {
	margin: 0;
}

.main-sliderkit .sliderkit-nav-clip ul li {
	float: left;
	margin: 0;
}

.main-sliderkit .sliderkit-nav-clip ul li:before {
	display: none;
}

.main-sliderkit .sliderkit-nav-clip ul li a,
.main-sliderkit .sliderkit-nav-clip ul li span {
	width: 176px;
	height: 88px;
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	text-align: center;
	opacity: 0.99;
}

.main-sliderkit .sliderkit-nav-clip ul li a img,
.main-sliderkit .sliderkit-nav-clip ul li span img {
	width: 176px;
	height: 88px;
	background: url("../img/s.gif") 50% 0 no-repeat;
}

.main-sliderkit .sliderkit-nav-clip ul li a:before,
.main-sliderkit .sliderkit-nav-clip ul li span:before {
	position: absolute;
	left: 0;
	right: 22px;
	bottom: 10px;
	z-index: 10;
	content: attr(title);
	display: block;
	text-align: right;
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
	color: #f47d6d;
	letter-spacing: 0.025em;
}

.main-sliderkit .sliderkit-nav-clip ul li a:after,
.main-sliderkit .sliderkit-nav-clip ul li span:after {
	content: '';
	position: absolute;
	right: 13px;
	bottom: 13px;
	background-image: url("../img/sprite.png");
	background-position: 0px -8px;
	width: 4px;
	height: 7px;
	background: url("../img/sprite2x/slide_arr.png") 50% 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	z-index: 10;
	display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.main-sliderkit .sliderkit-nav-clip ul li a:after,
	.main-sliderkit .sliderkit-nav-clip ul li span:after {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.main-sliderkit .sliderkit-nav-clip ul li a img,
.main-sliderkit .sliderkit-nav-clip ul li span img {
	opacity: 0.3;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.main-sliderkit .sliderkit-nav-clip ul li a:hover img {
	opacity: 0.99;
}

.main-sliderkit .sliderkit-nav .sliderkit-nav-btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.main-sliderkit .sliderkit-nav .sliderkit-nav-prev {
	right: auto;
	left: 0;
}

.main-sliderkit .sliderkit-nav .sliderkit-nav-next a, .main-sliderkit .sliderkit-nav .sliderkit-nav-prev a {
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	display: block;
	width: 36px;
	opacity: 0.99;
}

.main-sliderkit .sliderkit-nav .sliderkit-nav-next a:before, .main-sliderkit .sliderkit-nav .sliderkit-nav-prev a:before {
	content: '';
	position: relative;
	top: 38px;
	left: 13px;
	background-image: url("../img/sprite.png");
	background-position: 0px -24px;
	width: 8px;
	height: 13px;
	background: url("../img/sprite2x/slider_rarr.png") 50% 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	display: block;
}

.main-sliderkit .sliderkit-nav .sliderkit-nav-prev a:before {
	transform: rotate(180deg);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.main-sliderkit .sliderkit-nav .sliderkit-nav-next a:before, .main-sliderkit .sliderkit-nav .sliderkit-nav-prev a:before {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.main-sliderkit .sliderkit-nav .sliderkit-nav-btn a:hover {
	opacity: 0.75;
	background: #404957;
}

.main-sliderkit .sliderkit-btn-disable {
	display: none;
}

@media only screen and (min-width: 1280px) {
	.main-sliderkit {
		width: 748px;
		height: 110px;
	}

	.main-sliderkit .sliderkit-nav-clip {
		margin-left: 45px;
	}

	.main-sliderkit .sliderkit-nav {
		height: 110px;
	}

	.main-sliderkit .sliderkit-nav .sliderkit-nav-next a, .main-sliderkit .sliderkit-nav .sliderkit-nav-prev a {
		width: 46px;
	}

	.main-sliderkit .sliderkit-nav .sliderkit-nav-next a:before {
		width: 10px;
		height: 16px;
		top: 47px;
		left: 19px;
	}

	.main-sliderkit .sliderkit-nav .sliderkit-nav-prev a:before {
		width: 10px;
		height: 16px;
		top: 47px;
		left: 16px;
	}

	.main-sliderkit .sliderkit-nav-clip ul li a,
	.main-sliderkit .sliderkit-nav-clip ul li span,
	.main-sliderkit .sliderkit-nav-clip ul li a img,
	.main-sliderkit .sliderkit-nav-clip ul li span img {
		width: 219px;
		height: 110px;
	}

	.main-sliderkit .sliderkit-nav-clip ul li a:before,
	.main-sliderkit .sliderkit-nav-clip ul li span:before {
		right: 30px;
		bottom: 14px;
		font-size: 16px;
		font-weight: 400;
	}

	.main-sliderkit .sliderkit-nav-clip ul li a:after,
	.main-sliderkit .sliderkit-nav-clip ul li span:after {
		width: 6px;
		height: 10px;
		right: 15px;
		bottom: 16px;
	}
}

.square-news {
	margin: 0 0 10px 0;
	padding: 0;
}

.square-news__item {
	width: 182px;
	height: 137px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	display: block;
	margin: 14px 0 0 13px;
	padding: 5px 10px 10px 13px;
	overflow: hidden;
	float: left;
	background: #c4c6ca;
	color: #2f3744;
	font-size: 13px;
	line-height: 20px;
}

.square-news__item:hover {
	background: #f47d6d;
	color: #fff;
}

.square-news__item:hover .square-news__see:after {
	opacity: 0.01;
}

.square-news__item:hover .square-news__see:before {
	opacity: 0.99;
}

.square-news__title {
	display: block;
	height: 100px;
	overflow: hidden;
	font-size: 15px;
	line-height: 25px;
}

.square-news__date {
	position: absolute;
	bottom: 9px;
	left: 13px;
	letter-spacing: -0.05em;
	font-weight: 400;
}

.square-news__date span {
	padding: 0 1px 0 2px;
}

.square-news__see {
	position: absolute;
	bottom: 9px;
	right: 19px;
	font-weight: 400;
	letter-spacing: -0.02em;
	white-space: nowrap;
}

.square-news__see:after,
.square-news__see:before {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	content: '';
	position: absolute;
	bottom: 6px;
	right: -8px;
	display: inline-block;
	margin-left: 2px;
}

.square-news__see:after {
	opacity: 0.99;
	background-image: url("../img/sprite.png");
	background-position: 0px 0px;
	width: 4px;
	height: 7px;
	background: url("../img/sprite2x/arr_gray.png") 50% 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.square-news__see:after {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.square-news__see:before {
	opacity: 0.01;
	background-image: url("../img/sprite.png");
	background-position: 0px -16px;
	width: 4px;
	height: 7px;
	background: url("../img/sprite2x/arr_white.png") 50% 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.square-news__see:before {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

@media only screen and (min-width: 1280px) {
	.square-news__item {
		width: 226px;
		height: 172px;
		margin: 16px 0 0 16px;
		padding: 7px 10px 10px 16px;
	}

	.square-news__title {
		font-size: 19px;
		line-height: 31px;
	}

	.square-news__date {
		bottom: 13px;
		left: 16px;
		font-size: 15px;
	}

	.square-news__see {
		font-size: 16px;
		bottom: 13px;
		right: 23px;
	}

	.square-news__see:after,
	.square-news__see:before {
		content: '';
		position: absolute;
		bottom: 5px;
		right: -11px;
		width: 5px;
		height: 9px;
	}
}

.page-submenu {
	position: relative;
	width: auto;
	padding: 0 30px;
	height: 98px;
	z-index: 10;
	overflow: hidden;
}

.page-submenu__carousel {
	width: 100%;
	height: 98px;
}

.page-submenu__grad-base {
	position: absolute;
	top: 0;
	bottom: 2px;
	left: 0;
	right: 0;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P///2aAAAMACa8DsSOvEV4AAAAASUVORK5CYII=") 0 0 repeat;
}

.page-submenu__grad, .page-submenu__arrow {
	position: absolute;
	top: 0;
	z-index: 10;
	display: block;
}

.page-submenu__grad_left {
	background-image: url("../img/sprite.png");
	background-position: 0px -270px;
	width: 23.5px;
	height: 68px;
	background: url("../img/sprite2x/submenu_grad_l.png") 50% 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	left: 60px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.page-submenu__grad_left {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.page-submenu__grad_right {
	background-image: url("../img/sprite.png");
	background-position: 0px -201px;
	width: 23.5px;
	height: 68px;
	background: url("../img/sprite2x/submenu_grad_r.png") 50% 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	right: 60px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.page-submenu__grad_right {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.page-submenu__grad_left,
.page-submenu__grad_right {
	width: 24px;
	height: 68px;
}

.page-submenu__arrow {
	background-color: #c0c4c9;
	width: 30px;
	height: 60px;
	top: 16px;
}

@media only screen and (min-width: 1280px) {
	.page-submenu__arrow {
		width: 35px;
		height: 75px;
		top: 20px;
	}

	.page-submenu__grad_left {
		left: 65px;
	}

	.page-submenu__grad_right {
		right: 65px;
	}
}

.page-submenu__arrow:hover {
	background-color: #f47d6d;
}

.page-submenu__prev {
	left: 30px;
}

.page-submenu__next {
	right: 30px;
}

.page-submenu__arrow:before {
	content: '';
	display: block;
	width: 12px;
	height: 23px;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: 50%;
}

.page-submenu__prev:before {
	background: url(../img/prev_arrow.png) no-repeat;
	margin-left: -7px;
}

.page-submenu__next:before {
	background: url(../img/next_arrow.png) no-repeat;
	margin-left: -6px;
}

.page-submenu__item {
	padding: 35px 10px 15px 10px;
	border-bottom: 2px solid #bac0c7;
}

.page-submenu__item.active {
	border-bottom-color: #f47d6d;
}

.page-submenu__item_type_space:before {
	content: '';
	position: relative;
	display: block;
	width: 10px;
	height: 1px;
}

.page-submenu__item_type_edge {
	padding: 0;
}

.page-submenu__item_type_edge:before {
	content: '';
	position: relative;
	width: 60px;
	height: 1px;
	display: block;
}

.page-submenu__link {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-height: 37px;
	min-width: 100px;
	max-width: 200px;
	text-transform: uppercase;
	line-height: 19px;
	font-size: 13px;
	font-weight: 600;
	color: #8e949d;
}

.page-submenu__link:hover,
.page-submenu__item.active .page-submenu__link {
	color: #2f3744;
}

.touchcarousel .arrow-holder {
	display: none;
}

@media only screen and (min-width: 1280px) {
	.page-submenu__link {
		min-width: 125px;
		max-width: 250px;
		max-height: 45px;
		line-height: 23px;
		font-size: 16px;
	}

	.page-submenu__item {
		padding: 40px 12px 20px 12px;
		border-bottom-width: 3px;
	}

	.page-submenu__item.page-submenu__item_type_edge {
		padding: 0;
	}

	.page-submenu,
	.page-submenu__carousel {
		height: 116px;
	}

	.page-submenu__grad_left,
	.page-submenu__grad_right {
		width: 30px;
		height: 115px;
	}
}

.vacancies {
	margin: 0;
	padding: 0;
}

.vacancies__item {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	height: 67px;
	overflow: hidden;
	padding-left: 27px;
	border-bottom: 1px solid #fef8f7;
	font-size: 17px;
	color: #2f3744;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.vacancies__item:hover {
	background: #c4c6ca;
}

.vacancies__title {
	white-space: nowrap;
	line-height: 64px;
	font-weight: 400;
}

.vacancies__city {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 108px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 66px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.025em;
}

@media only screen and (min-width: 1280px) {
	.vacancies__item {
		height: 83px;
		padding-left: 33px;
		font-size: 21px;
	}

	.vacancies__title {
		line-height: 77px;
	}

	.vacancies__city {
		width: 136px;
		line-height: 79px;
		font-size: 19px;
	}
}

.frame-block + .frame-block {
	margin-top: 40px;
}

.white-frames {
	margin-left: -25px;
}

.white-frames__item {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	width: 475px;
	float: left;
	margin-left: 25px;
	margin-bottom: 12px;
	border: 1px solid #9d9d9d;
	padding: 7px 20px;
	background: #fff;
	line-height: 23px;
	color: #2f3744;
}

.white-frames__content {
	display: block;
	height: 44px;
	overflow: hidden;
}

.white-frames__item_with-date {
	margin-top: 25px;
}

.white-frames__date {
	position: absolute;
	top: -24px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	margin-left: -3px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: -0.05em;
}

.white-frames__date span {
	padding: 0 6px 0 6px;
}

.white-frames__date span:before,
.white-frames__date span:after {
	content: '';
	position: absolute;
	content: '/';
	margin-top: 0px;
	font-size: 16px;
	font-weight: 300;
}

.white-frames__date span:before {
	margin-left: -9px;
}

.white-frames__date span:after {
	margin-left: -1px;
}

.white-frames__item:hover .white-frames__date {
	color: #f86b58;
}

.white-frames__type_two-lines .white-frames__item {
	height: 63px;
}

a.white-frames__item:hover {
	color: #fff;
	background: #f47d6d;
}

a.white-frames__item:hover:before {
	background: #f47d6d;
}

@media only screen and (min-width: 1280px) {
	.frame-block + .frame-block {
		margin-top: 50px;
	}

	.white-frames {
		margin-left: -32px;
	}

	.white-frames__item {
		width: 593px;
		margin-left: 32px;
		margin-bottom: 16px;
		line-height: 28px;
		padding: 9px 24px;
	}

	.white-frames__content {
		height: 60px;
	}

	.white-frames__type_two-lines .white-frames__item {
		height: 78px;
	}
}

.btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 13.5em;
	height: 2.15em;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #f86b58;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 2em;
	color: #f86b58;
	background: transparent;
	padding: 0 2px;
}

.btn:hover {
	color: #fff !important;
	background: #2f3744;
	border-color: #2f3744;
}

.btn__color_orange {
	color: #fff;
	background: #f86b58;
}

.btn__width_auto {
	width: auto !important;
	padding: 0 0.5em;
}

.form-submit-section {
	text-align: right;
}

.control-wrapper-margin {
	margin-bottom: 12px;
}

.control-wrapper {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 38px;
	border: 1px solid #9d9d9d;
	background: #fff;
	overflow: hidden;
}

.control-wrapper.error {
	border-color: #c33;
}

.control-label {
	position: absolute;
	top: 11px;
	left: 24px;
	display: inline-block;
	height: 14px;
	font-size: 15px;
	line-height: 14px;
	font-weight: 600;
	color: #bec4cd;
	cursor: text;
}

.control-wrapper.filled .control-label,
.control-wrapper .control:focus + .control-label {
	display: none;
}

.control {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #fff;
	border-width: 7px 24px;
	vertical-align: top;
	font-size: 15px;
	font-weight: 600;
	line-height: 14px;
}

:-moz-submit-invalid,
:-moz-ui-invalid {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.control-wrapper-checkbox,
.control-wrapper-radio {
	margin-bottom: 7px;
}

.control-wrapper-checkbox label,
.control-wrapper-radio label {
	cursor: pointer;
	font-weight: 600;
}

.control-wrapper-checkbox .error,
.control-wrapper-radio .error {
	color: #c33;
}

input,
textarea {
	outline: none !important;
	-webkit-border-radius: 0;
	border-radius: 0;
}

textarea {
	resize: none;
}

.control-wrapper.control-wrapper__file {
	position: relative;
}

.control-wrapper.control-wrapper__file:before {
	content: '';
	position: absolute;
	top: 8px;
	right: 23px;
	background-image: url("../img/sprite.png");
	background-position: 0px -53px;
	width: 21.5px;
	height: 20px;
	z-index: 5;
	display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.control-wrapper.control-wrapper__file:before {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.control-wrapper.control-wrapper__file.control-wrapper .control-label {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: block;
	height: auto;
	overflow: hidden;
	padding-top: 11px;
	padding-left: 24px;
	cursor: default;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P//PzNAgAEACP8DAcPM7VEAAAAASUVORK5CYII=") 0 0 repeat;
}

.control-wrapper.control-wrapper__file.filled .control-label,
.control-wrapper.control-wrapper__file .control:focus + .control-label {
	display: block !important;
}

.control-wrapper.control-wrapper__file.filled:before {
	background-image: url("../img/sprite.png");
	background-position: 0px -74px;
	width: 21.5px;
	height: 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.control-wrapper.control-wrapper__file.filled:before {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.control-file {
	font-size: 50px;
	background: #fff;
	color: #fff;
	opacity: 0;
	border-width: 50px;
}

#ui-datepicker-div {
	font-size: 0.8em !important;
}

.form-message {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
	max-height: 0;
	padding: 0;
}

.form-message:not(.has-error) {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #41b241;
}

.form-message:not(.has-error).expanded {
	padding: 20px 0;
}

.form-message.has-error {
	color: #c33;
}

.form-message.expanded {
	max-height: 50px;
}

@media only screen and (min-width: 1280px) {
	.btn {
		width: 13.5em;
		height: 2.15em;
		font-size: 19px;
	}

	.career__text-button {
		margin-bottom: 1em;
	}

	.control-wrapper {
		width: 594px;
	}

	.control-wrapper-checkbox,
	.control-wrapper-radio {
		font-size: 0.8em;
	}
}

.footer {
	position: relative;
	padding-bottom: 35px;
}

.footer__menu-line {
	position: relative;
	padding: 47px 0 47px 0;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiCIpKfQYQYAAECwH4dOKztgAAAABJRU5ErkJggg==") 0 0 repeat;
	-webkit-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2);
}

.footer__menu-line:before {
	content: '';
	position: absolute;
	top: 75px;
	bottom: 75px;
	right: 395px;
	width: 1px;
	display: inline-block;
	background: #828890;
}

.footer__menu-line {
	color: #fff;
}

.footer__menu-line a {
	color: #fff;
}

.footer__menu-line a:hover {
	color: #ccc;
}

.bottom-menu__col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 200px;
	padding-left: 26px;
	overflow: hidden;
	font-size: 13px;
	font-weight: 400;
}

.bottom-menu__col .bottom-menu__item + .bottom-menu__item {
	margin-top: 19px;
}

.bottom-menu__col a {
	display: inline-block;
	text-transform: uppercase;
}

.footer__menu-line__contacts {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	width: 425px;
	margin-top: -2px;
	padding-right: 20px;
	padding-left: 113px;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	color: #fff;
	letter-spacing: 0.03em;
}

.contacts__address {
	margin-bottom: 34px;
}

.phone-line__title,
.phone-line__value {
	display: inline-block;
}

.phone-line__title {
	width: 62px;
	font-size: 13px;
	font-weight: 300;
}

.phone-line__value {
	width: 200px;
	font-size: 15px;
	letter-spacing: 0.01em;
}

.footer__copyrights-line {
	position: relative;
	height: 50px;
	overflow: hidden;
	background: #434b56;
	padding: 0 25px;
	font-size: 13px;
	letter-spacing: -0.015em;
	font-weight: 300;
	line-height: 46px;
	color: #fff;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.sn-icons {
	position: absolute;
	top: 13px;
	right: 25px;
	width: 180px;
	height: 18px;
	display: block;
}

.sn-icons__item {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	width: 24px;
	height: 23px;
	display: inline-block;
	float: right;
	margin-left: 7px;
	background-size: 23px 22px;
}

.sn-icon__vk {
	background-image: url("../img/sprite.png");
	background-position: 0px -143px;
	width: 23px;
	height: 23px;
	background: url("../img/sprite2x/ico_vk.png") 50% 0 no-repeat;
	background-size: 100% 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	.sn-icon__vk {
		background-image: url("../img/sprite2x.png");
		-webkit-background-size: 175px 427px !important;
		-moz-background-size: 175px 427px !important;
		background-size: 175px 427px !important;
	}
}

.sn-icon__fb {
	background-image: url(../img/vel_fb.png);
	background-repeat: no-repeat;
}

.sn-icon__tw {
	background-image: url(../img/vel_tw.png);
	background-repeat: no-repeat;
}

.sn-icon__ld {
	background-image: url(../img/vel_ld.png);
	background-repeat: no-repeat;
}

.sn-icon__yt {
	background-image: url(../img/vel_yt.png);
	background-repeat: no-repeat;
}

.sn-icon__inst {
	background-image: url(../img/vel_inst.png);
	background-repeat: no-repeat;
}

.btm_overlay {
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
	height: 50px;
	margin-top: -50px;
	background: #868c91;
}

@media only screen and (min-width: 1280px) {
	.footer__menu-line {
		padding: 55px 0 55px 0;
	}

	.bottom-menu__col {
		width: 250px;
		padding-left: 31px;
		font-size: 16px;
		line-height: 1.75em;
	}

	.footer__menu-line:before {
		top: 92px;
		bottom: 93px;
		right: 500px;
	}

	.footer__menu-line__contacts {
		width: 503px;
		margin-top: 0;
		letter-spacing: 0.03em;
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
	}

	.phone-line__title {
		width: 80px;
		font-size: 19px;
	}

	.phone-line__value {
		font-size: 18px;
	}

	.contacts__address {
		margin-bottom: 44px;
	}

	.footer__copyrights-line {
		height: 62px;
		padding: 0 30px;
		font-size: 16px;
		letter-spacing: -0.005em;
		line-height: 60px;
	}

	.sn-icons {
		top: 16px;
		right: 31px;
		width: 200px;
	}

	.sn-icons__item {
		margin-left: 10px;
		width: 30px;
		height: 30px;
		background-size: 100% 100%;
	}
}

.header {
	height: 62px;
	margin-bottom: 125px;
}

.header__center {
	position: relative;
}

.header__side {
	width: 50%;
}

.header__side:before {
	content: '';
	position: relative;
	width: 100%;
	height: 62px;
	display: block;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P///zOAAAMACeID5Hgpro8AAAAASUVORK5CYII=") 0 0 repeat;
}

.header__side:after {
	content: '';
	position: relative;
	width: 100%;
	height: 1px;
	display: block;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.header__side_position_left:before {
	right: 2px;
}

.header__logo {
	position: absolute;
	width: 175px;
	height: 88px;
	background: url("../img/sprite2x/logo_new.jpg") 50% 0 no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	margin-left: 26px;
	display: inline-block;
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

.header__top-menu {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 800px;
	height: 62px;
	float: right;
	padding-right: 81px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P///zOAAAMACeID5Hgpro8AAAAASUVORK5CYII=") 0 0 repeat;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.header__top-menu .top-menu__item.active {
	border-bottom: 1px solid #2f3744;
}

.header__top-menu .top-menu__item:not(.active):hover {
	border-bottom-color: transparent;
}

.top-menu {
	padding-top: 23px;
	text-align: right;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0em;
}

.top-menu__item {
	margin-left: 26px;
	text-transform: uppercase;
	color: #2f3744;
	font-weight: 600;
}

.top-menu__item:not(.active):hover {
	color: #a0a9b8;
}

.header__lang-menu {
	position: absolute;
	right: 10px;
}

.header__lang-menu .top-menu__item {
	margin-left: 4px;
}

.header__lang-menu .top-menu__item.active {
	color: #a0a9b8;
}

.header__lang-menu .top-menu__item + .top-menu__item:before {
	content: '';
	position: relative;
	content: '|';
	left: -4px;
	color: #2f3744;
}

@media only screen and (min-width: 1280px) {
	.header {
		height: 78px;
		margin-bottom: 155px;
	}

	.header__top-menu {
		width: 1000px;
		height: 78px;
		padding-right: 108px;
	}

	.header__side:before {
		height: 78px;
	}

	.header__logo {
		width: 220px;
		height: 110px;
		margin-left: 31px;
	}

	.top-menu {
		padding-top: 29px;
		font-size: 16px;
	}

	.top-menu__item {
		margin-left: 33px;
		font-weight: 400;
	}

	.header__lang-menu {
		right: 20px;
	}

	.header__lang-menu .top-menu__item {
		margin-left: 5px;
	}
}

.page-404 {
	padding: 20px 0 140px 0;
}

.page-404__main {
	margin-bottom: 18px;
	font-size: 63px;
	line-height: 1em;
	letter-spacing: -0.003em;
	color: #fff;
}

.page-404__subtext {
	margin-bottom: 40px;
	font-size: 17px;
	font-weight: 600;
	line-height: 1.25em;
	color: #203142;
}

.activity {
	position: relative;
}

.activity__content-block {
	margin-bottom: 27px;
}

.activity__images {
	float: left;
	width: 275px;
	margin-top: 6px;
}

.activity__images img {
	float: left;
	margin: 0 !important;
}

.activity__content {
	float: right;
	width: 675px;
}

.activity__content ul li,
.activity__content ol li {
	margin-left: 0;
}

.activity__our-projects {
	position: absolute;
	right: 20px;
	z-index: 300;
	margin-top: 2px;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.activity-thumbs {
	margin-left: -25px;
}

.activity-thumb {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 475px;
	height: 169px;
	display: block;
	float: left;
	overflow: hidden;
	border: 1px solid #9d9d9d;
	margin: 0 0 25px 25px;
	background: #fff;
}

.activity-thumb__image {
	width: 39.5%;
	height: 100%;
	background: url("../img/s.gif") 50% 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	float: left;
}

.activity-thumb__title,
.activity-thumb__text {
	position: relative;
	z-index: 10;
	display: block;
	float: right;
	color: #2f3744;
}

.activity-thumb__title {
	width: 57.7%;
	margin-top: 20px;
	margin-bottom: 6px;
	font-size: 1.02em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.04em;
	line-height: 23px;
}

.activity-thumb__text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 57.7%;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.01em;
	line-height: 1.3;
}

.activity-thumb__bg-image {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 31.5%;
}

.activity-thumb:hover .activity-thumb__bg-image {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

@media only screen and (min-width: 1280px) {
	.activity__images {
		width: 344px;
	}

	.activity__content {
		width: 844px;
	}

	.activity__content-block {
		margin-bottom: 33px;
	}

	.activity__our-projects {
		font-size: 19px;
		letter-spacing: 0.02em;
	}

	.activity-thumbs {
		margin-left: -32px;
	}

	.activity-thumb {
		width: 593px;
		height: 210px;
		margin-left: 32px;
		margin-bottom: 32px;
	}

	.activity-thumb__title {
		margin-top: 1.3em;
		margin-bottom: 0.7em;
		font-weight: 400;
		letter-spacing: -0.02em;
	}

	.activity-thumb__text {
		font-size: 0.94em;
	}
}

.board {
	position: relative;
	padding-bottom: 20px;
}

.board-brick {
	width: 125px;
	height: 63px;
	display: table;
}

.board-brick-wrapper__width_small {
	width: 100px;
}

.board-brick > div {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	z-index: 50;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	color: #fff;
	background: #f86b58;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.board-brick > div span {
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.2em;
}

.board-brick > div b {
	display: block;
	font-size: 12px;
	letter-spacing: -0.01em;
	font-weight: 300;
	line-height: 1.2em;
}

.board-brick.fake {
	visibility: hidden;
}

.board-brick__width_widest {
	width: 173px;
	margin-left: 76px !important;
	margin-right: -24px !important;
}

.board__line {
	position: relative;
	margin-bottom: 25px;
	min-height: 63px;
}

.board__line_type_center-item .board-brick {
	margin: 0 auto;
}

.board__line_type_query .board-brick {
	float: left;
}

.board__line_type_query .board-brick + .board-brick {
	margin-left: 24px;
}

.board__line_type_last {
	margin-top: 30px;
}

.board__line_center_narrow {
	position: relative;
	width: 423px;
	margin: 0 auto;
}

.board__line_center_wide {
	position: relative;
	width: 580px;
	margin: 0 auto;
}

.board__line_center_wide .board-brick + .board-brick {
	margin-left: 100px;
}

.board-brick__type_3 {
	position: absolute;
	right: 198px;
}

.board-brick__type_4 {
	position: absolute;
	right: -166px;
}

.board-brick-line {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	background: #f86b58;
}

.board-brick-line-1 {
	position: absolute;
	top: 31.5px;
	left: 0;
	right: 0;
	height: 176px;
	margin: 0 auto;
}

.board-brick-line-2 {
	position: absolute;
	top: 31.5px;
	left: 50%;
	right: 62.5px;
	width: auto;
}

.board-brick-line-3 {
	position: absolute;
	top: 31.5px;
	left: 62.5px;
	right: 62.5px;
	width: auto;
}

.board-brick-line-4 {
	position: absolute;
	top: 31.5px;
	left: 62.5px;
	height: 176px;
}

.board-brick-line-5 {
	position: absolute;
	top: 31.5px;
	right: 62.5px;
	height: 88px;
}

.board-brick-line-6 {
	position: absolute;
	top: 31.5px;
	left: 50%;
	right: -125px;
	width: auto;
}

.board-brick-line-7 {
	position: absolute;
	top: 31.5px;
	left: 62.5px;
	right: 312.5px;
	width: auto;
}

@media only screen and (min-width: 1280px) {
	.board-brick {
		width: 154px;
		height: 78px;
	}

	.board-brick-wrapper__width_small {
		width: 124px;
	}

	.board-brick > div span {
		font-size: 16px;
	}

	.board-brick > div b {
		font-size: 16px;
	}

	.board-brick__width_widest {
		width: 202px;
		margin-left: 76px !important;
		margin-right: -24px !important;
	}

	.board__line {
		margin-bottom: 31px;
		min-height: 78px;
	}

	.board__line_type_query .board-brick + .board-brick {
		margin-left: 31px;
	}

	.board__line_type_last {
		margin-top: 30px;
	}

	.board__line_center_narrow {
		width: 524px;
	}

	.board__line_center_wide {
		width: 662px;
	}

	.board__line_center_wide .board-brick + .board-brick {
		margin-left: 100px;
	}

	.board-brick__type_3 {
		right: 233px;
	}

	.board-brick__type_4 {
		right: -201px;
	}

	.board-brick-line-1 {
		position: absolute;
		top: 39px;
		left: 0;
		right: 0;
		height: 218px;
	}

	.board-brick-line-2 {
		position: absolute;
		top: 39px;
		left: 50%;
		right: 77px;
	}

	.board-brick-line-3 {
		position: absolute;
		top: 39px;
		left: 77px;
		right: 77px;
	}

	.board-brick-line-4 {
		position: absolute;
		top: 39px;
		left: 77px;
		height: 218px;
	}

	.board-brick-line-5 {
		position: absolute;
		top: 39px;
		right: 77px;
		height: 109px;
	}

	.board-brick-line-6 {
		position: absolute;
		top: 39px;
		left: 50%;
		right: -154px;
	}

	.board-brick-line-7 {
		position: absolute;
		top: 39px;
		left: 77px;
		right: 385px;
	}

	.board__line_left-shift {
		margin-left: 93px;
	}
}

.career__text-block {
	margin-bottom: 5px;
}

.career__text-block-image {
	width: 28%;
	height: 13em;
	display: inline-block;
	background: url("../img/s.gif") 50% 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	margin: 0 2% 0 0 !important;
}

.career__text-button {
	margin-bottom: 12px;
	margin-top: 30px;
	text-align: right;
}

.career__vacancies-cols {
	margin-left: -25px;
}

.career__vacancies-col {
	width: 475px;
	float: left;
	margin-left: 25px;
}

.career__resume-col {
	width: 475px;
}

.career__vacancies-title {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
}

.vacancy-section__items {
	margin-bottom: 30px;
}

.vacancy-section__department-title {
	margin-bottom: 9px;
	font-weight: 600;
}

.vacancy-preview {
	position: relative;
	width: 100%;
	height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid #9d9d9d;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.01em;
	background: #fff;
}

.vacancy-preview + .vacancy-preview {
	margin-top: 12px;
}

.vacancy-preview__title {
	position: absolute;
	left: 24px;
	top: 7px;
	width: 285px;
	height: 22px;
	overflow: hidden;
}

.vacancy-preview__link {
	position: absolute;
	right: 15px;
	top: 7px;
	color: #f86b58;
	letter-spacing: -0.005em;
}

.career__vacancies-checkbox-section {
	margin-top: 18px;
}

.career__vacancies-input-section {
	float: right;
	margin-top: 5px;
}

.vacancy-detail {
	min-width: 800px;
	max-width: 1000px;
	min-height: 400px;
}

@media only screen and (min-width: 1280px) {
	.career__text-block-image {
		height: 235px;
	}

	.career__vacancies-col {
		width: 594px;
	}

	.career__vacancies-cols {
		margin-left: -30px;
	}

	.career__vacancies-col {
		margin-left: 30px;
	}

	.career__vacancies-title {
		font-size: 19px;
	}

	.vacancy-preview + .vacancy-preview {
		margin-top: 15px;
	}

	.vacancy-preview__title {
		left: 29px;
		top: 5px;
		height: 1.4em;
	}

	.vacancy-preview__link {
		right: 21px;
		top: 5px;
		letter-spacing: -0.035em;
	}

	.career__resume-col {
		width: 594px;
	}
}

.contacts__block {
	margin-bottom: 2.7em;
}

.contacts__block-content + .contacts__block-content {
	margin-top: 0.9em;
}

.contacts__block-map-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 59%;
	height: 13.5em;
	display: inline-block;
	overflow: hidden;
	float: right;
	margin-top: 0.8em;
	border: 1px solid #9d9d9d;
	background: #fff;
}

.contacts__block-data {
	width: 380px;
	display: inline-block;
	float: left;
}

.contacts-line {
	margin-bottom: 6px;
	font-size: 14px;
	letter-spacing: -0.03em;
}

.contacts-line__title {
	float: left;
	width: 26.3%;
	margin-right: 12px;
	font-weight: 700;
}

.contacts-line__text {
	float: left;
	width: 260px;
	font-weight: 600;
	letter-spacing: 0.025em;
}

.contacts__block-city {
	text-transform: uppercase;
	margin-top: 2px;
	margin-bottom: 6px;
	font-size: 1.15em;
	font-weight: 600;
}

@media only screen and (min-width: 1280px) {
	.contacts__block-data {
		width: 40%;
	}

	.contacts-line {
		font-size: 18px;
	}

	.contacts-line__title {
		font-weight: 400;
	}

	.contacts-line__text {
		width: 65%;
		letter-spacing: 0em;
	}
}

.licences {
	padding-bottom: 25px;
}

.licences__item {
	position: relative;
	width: 225px;
	height: 310px;
	background: url("../img/s.gif") 50% 50% no-repeat;
	display: block;
	float: left;
	margin: 25px 0 0 25px;
	background-color: #fff;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	opacity: 0.99;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.licences__item:hover {
	opacity: 0.75;
}

@media only screen and (min-width: 1280px) {
	.licences__item {
		width: 282px;
		height: 387px;
		margin: 30px 0 0 30px;
	}

	.licences {
		padding-bottom: 32px;
	}
}

.page-main__top-slider {
	width: 600px;
	overflow: hidden;
	margin-bottom: 100px;
	position: absolute;
	top: 400px;
}

.top-slider__text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 125px;
	padding: 25px 20px 5px 26px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.014em;
	line-height: 27px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi0Dd3OQMQYAACugF3cC7DjQAAAABJRU5ErkJggg==") 0 0 repeat;
	color: #fff;
}

.page-main__col-left {
	width: 600px;
}

.page-main__col-right {
	width: 425px;
}

.page-main__cols_map,
.page-main__col_height_map {
	height: 462px;
}

.page-main__cols_map .content-gradient__type_no-up.content-gradient,
.page-main__col_height_map .content-gradient__type_no-up.content-gradient {
	min-height: 400px;
}

.page-main__cols_map .content-gradient,
.page-main__col_height_map .content-gradient {
	min-height: 402px;
}

.page-main__cols-news,
.page-main__col_height_news {
	height: 375px;
}

.page-main__vacancy,
.page-main__news,
.main-projects {
	position: relative;
	height: 312px;
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	margin-left: -1px;
	margin-right: -1px;
}

.page-main__map {
	height: 300px;
}

.page-main__info {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 25px;
	padding-left: 27px;
	height: 100px;
	border-top: 1px solid #434955;
}

.info_item {
	position: relative;
	width: 175px;
	height: 65px;
	display: inline-block;
	text-align: center;
	color: #50535c;
	padding: 10px 5px;
	box-sizing: border-box;
}

.info_item + .info_item {
	width: 195px;
}

.info_item + .info_item:before {
	content: '';
	position: absolute;
	left: -8px;
	top: -4px;
	width: 1px;
	height: 57px;
	z-index: 10;
	margin: 0 10px;
	display: inline-block;
	color: #969499;
	background: #969499;
}

.info_title {
	font-size: 30px;
	font-weight: 300;
}

.info_text {
	vertical-align: top;
	display: inline-block;
	padding-left: 10px;
	text-align: left;
	font-size: 12px;
	line-height: 1.3;
	font-weight: 300;
	letter-spacing: 0.02em;
}

@media only screen and (min-width: 1280px) {
	.page-main__top-slider {
		width: 748px;
		margin-bottom: 156px;
	}

	.top-slider__text {
		height: 156px;
		padding: 27px 20px 5px 31px;
		font-size: 25px;
		line-height: 36px;
	}

	.page-main__cols_map,
	.page-main__col_height_map {
		height: 577px;
	}

	.page-main__cols_map .content-gradient__type_no-up.content-gradient,
	.page-main__col_height_map .content-gradient__type_no-up.content-gradient {
		min-height: 500px;
	}

	.page-main__cols_map .content-gradient,
	.page-main__col_height_map .content-gradient {
		min-height: 502px;
	}

	.page-main__col-left {
		width: 750px;
	}

	.page-main__col-right {
		width: 530px;
	}

	.col-header {
		height: 77px;
		padding: 0 10px 0 32px;
		font-size: 22px;
		font-weight: 400;
		line-height: 79px;
		letter-spacing: 0.015em;
	}

	.page-main__cols-news,
	.page-main__col_height_news {
		height: 467px;
	}

	.page-main__vacancy,
	.page-main__news {
		height: 390px;
	}

	.page-main__map {
		height: 375px;
	}

	.page-main__info {
		height: 125px;
		padding-top: 30px;
	}

	.info_title {
		text-align: right;
		font-size: 40px;
		font-weight: 600;
	}

	.info_text {
		font-size: 14px;
		line-height: 1.3;
	}

	.info_item {
		width: 232px;
	}

	.info_item + .info_item {
		width: 240px;
	}

	.info_item + .info_item:before {
		top: -2px;
		height: 69px;
	}
}

.partners {
	padding-bottom: 25px;
}

.partners__item {
	position: relative;
	width: 175px;
	height: 175px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 25px 0 0 25px;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
	border: 1px solid #f47d6d;
}

a.partners__item:hover .partners__item-img {
	opacity: 0.01;
}

a.partners__item:hover .partners__item-img.active {
	opacity: 0.99;
}

.partners__item-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../img/s.gif") 50% 50% no-repeat;
	background-color: #fff;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	opacity: 0.99;
}

.partners__item-img.active {
	background-color: #f47d6d;
	opacity: 0.01;
}

@media only screen and (min-width: 1280px) {
	.partners__item {
		width: 218px;
		height: 218px;
		margin: 32px 0 0 32px;
	}

	.partners {
		padding-bottom: 32px;
	}
}

.press__subheader-multimedia {
	margin-bottom: -5px;
}

.press__white-frames {
	margin-top: 23px;
	margin-bottom: -10px;
}

.press__white-frames .white-frames__item {
	height: 175px;
}

.press__white-frames .white-frames__item .white-frames__content {
	height: 175px;
}

.press__white-frames-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 175px;
	overflow: hidden;
	float: left;
	border: 1px solid #9d9d9d;
	margin-left: 25px;
}

.press__white-frames-item img {
	width: 100%;
	height: 100%;
	background: url("") 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.press__white-frames-item_type_video {
	display: inline-block;
	width: 272px;
	height: 175px;
}

.press__white-frames-item_type_video iframe,
.press__white-frames-item_type_video object {
	width: 100%;
	height: 100%;
}

.press__white-frames-item_type_video_detail {
	width: 300px;
	height: auto;
	overflow: hidden;
	float: right;
	margin: 0 0 0 25px;
}

.detail-new__date {
	position: relative;
	height: 30px;
}

.detail-new__date .white-frames__date {
	top: 0;
	margin-left: 0;
}

.press__white-frames-item-picture {
	display: inline-block;
	height: 175px;
	width: 175px;
	height: 175px;
}

@media only screen and (min-width: 1280px) {
	.white-frames__date {
		font-size: 19px;
		font-weight: 600;
		letter-spacing: -0.07em;
	}

	.white-frames__date {
		top: -30px;
	}

	.press__white-frames {
		margin-top: 28px;
		margin-bottom: -13px;
	}

	.press__white-frames .white-frames__item,
	.press__white-frames-item_type_video,
	.press__white-frames-item {
		height: 219px;
	}

	.press__white-frames-item {
		margin-left: 32px;
	}

	.press__white-frames-item-picture {
		width: 219px;
		height: 219px;
	}

	.press__white-frames-item_type_video {
		width: 341px;
	}
}

.projects.frame {
	padding-top: 24px;
}

.projects__thumbs-col {
	position: relative;
	float: left;
	width: 188px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.project-thumb {
	position: relative;
	width: 188px;
	height: 100px;
	display: block;
	margin-bottom: 6px;
	overflow: hidden;
}

.project-thumb:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 10;
	display: block;
	background: rgba(55, 55, 55, 0.3);
	opacity: 0.99;
}

.project-thumb:after {
	content: '';
	position: absolute;
	top: 7px;
	right: 13px;
	left: 13px;
	bottom: 7px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	content: attr(title);
	z-index: 10;
	display: block;
	overflow: hidden;
	opacity: 0.99;
	font-size: 16px;
	color: #fff;
}

.project-thumb.active:before,
.project-thumb:hover:before,
.project-thumb.active:after,
.project-thumb:hover:after {
	opacity: 0.01;
}

.project-thumb.active {
	cursor: default;
}

.project-thumb:hover img {
	opacity: 0.99;
}

.project-thumb__picture {
	position: relative;
	width: 188px;
	height: 100px;
}

.projects__text-col {
	float: right;
	width: 762px;
	display: none;
}

.projects__text-col.active {
	display: block;
}

.page-projects__cols {
	height: 376px;
}

.page-projects__col-left {
	width: 600px;
	height: 376px;
}

.page-projects__right-left {
	width: 340px;
	height: 376px;
}

.page-projects__map,
.page-projects__gallery {
	width: 100%;
	height: 314px;
}

.page-projects__map {
	position: relative;
}

.page-projects__map img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.project-map {
	display: none;
	height: 392px;
	position: relative;
}

.project-map > iframe {
	width: 100% !important;
	height: 100% !important;
}

.project-map.active {
	display: block;
}

.map-holder {
	width: 100% !important;
	height: 100% !important;
}

.map-holder > ymaps,
.map-holder > img {
	width: 100% !important;
	height: 100% !important;
}

.map-holder > img {
	background: url("../img/s.gif") 50% 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.project-gallery {
	display: none;
}

.project-gallery.active {
	display: block;
}

.page-projects__gallery-picture,
.page-projects__gallery-item {
	width: 212px;
	height: 157px;
	display: block;
	overflow: hidden;
	float: left;
}

.page-projects__gallery-picture img,
.page-projects__gallery-item img {
	width: 212px;
	height: 157px;
	background: url("../img/s.gif") 50% 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-backface-visibility: hidden;
}

@media only screen and (min-width: 1280px) {
	.projects__thumbs-col {
		width: 234px;
		margin-right: 30px;
		margin-bottom: 12px;
	}

	.project-thumb,
	.project-thumb__picture {
		width: 234px;
		height: 126px;
	}

	.project-thumb {
		margin-bottom: 8px;
	}

	.project-thumb:after {
		top: 8px;
		left: 15px;
		font-size: 19px;
	}

	.projects__text-col {
		width: 953px;
	}

	.page-projects__gallery-picture,
	.page-projects__gallery-item,
	.page-projects__gallery-picture img,
	.page-projects__gallery-item img {
		width: 265px;
		height: 196px;
	}

	.page-projects__col-left,
	.page-projects__cols {
		height: 469px;
	}

	.page-projects__col-left {
		width: 750px;
	}

	.page-projects__map,
	.page-projects__gallery {
		height: 392px;
	}
}

.vs__button {
	display: block;
	padding: 0 20px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff !important;
	background: #2f3744;
}

.vs__button:hover {
	background: #f86b58;
}

.back__button {
	position: absolute;
	bottom: 8px;
	right: 0;
	font-size: 14px;
}

.back__button i {
	display: inline-block;
	width: 12px;
	height: 10px;
	background-image: url(../img/back_arrow.png);
}

.about-press__see-all {
	position: relative;
	width: 100%;
	height: 60px;
	clear: both;
}

.see-all__button {
	position: absolute;
	bottom: 0;
	right: 0;
}

.about__row {
	margin-left: -25px;
}

.about__col {
	width: 475px;
	margin-left: 25px;
	float: left;
}

@media only screen and (min-width: 1280px) {
	.about__row {
		margin-left: -32px;
	}
	.about__col {
		width: 593px;
		margin-left: 32px;
	}
}

.tech {
	padding: 0 30px 20px;
}

.tech__item {
	width: 130px;
	height: 150px;
	display: inline-block;
	text-align: center;
	padding: 5px;
	margin: 10px 0;
	vertical-align: top;
}

.tech__item img {
	display: block;
	margin: 0 auto;
}

.tech__head {
	margin-top: 30px;
	line-height: 1.1;
	font-size: 14px;
}

.activities__thumbs-col {
	position: relative;
	float: left;
	width: 300px;
	margin-right: 25px;
	margin-bottom: 20px;
}

.activities__thumbs-col .activity-thumb {
	margin-left: 0;
	margin-bottom: 25px;
	width: 100%;
	overflow: visible;
	cursor: pointer;
}

.activities__thumbs-col .activity-thumb:hover,
.activities__thumbs-col .activity-thumb.active {
	background-color: rgba(244, 125, 109, 0.5);
	border: 1px solid transparent;
}

.activities__thumbs-col .activity-thumb:hover span,
.activities__thumbs-col .activity-thumb.active span {
	color: #fff;
}

.activities__thumbs-col .activity-thumb.active {
	cursor: default;
}

.activities__thumbs-col .activity-thumb.active:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -14px;
	right: -28px;
	border: 14px solid transparent;
	border-left: 14px solid rgba(244, 125, 109, 0.5);
}

.activities__thumbs-col .activity-thumb__bg-image {
	width: 53.5%;
}

.activities__thumbs-col .activity-thumb__text, .activities__thumbs-col .activity-thumb__title {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
}

.activity-thumb__inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.activities__text-col {
	float: right;
	width: 648px;
	display: none;
}

.activities__text-col.active {
	display: block;
}

.activity__see-project {
	height: 60px;
	margin-top: 20px;
}

.page-activities__gallery {
	width: 100%;
	margin-top: 30px;
}

.col-header__button {
	position: absolute;
	top: -82px;
	right: 0;
	text-transform: none;
}

@media only screen and (min-width: 1280px) {
	.activities__thumbs-col {
		width: 350px;
		margin-right: 30px;
		margin-bottom: 25px;
	}

	.activities__text-col {
		width: 835px;
	}

	.col-header__button {
		top: -104px;
	}
}

.col-header__button-wrapper {
	position: relative;
}

.back__button-header {
	font-size: 14px;
	background: #f86b58;
}

.back__button-header i {
	display: inline-block;
	width: 12px;
	height: 10px;
	background-image: url(../img/back_arrow.png);
}

.page-projects__gallery-item {
	position: relative;
}

.pic_blackout {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #424955;
	opacity: 0.5;
}

.page-projects__gallery-item:hover .pic_blackout {
	background-color: transparent;
}

.main-slider {
	height: 100%;
	min-height: 600px;
	overflow: hidden;
	min-width: 980px;
}

#owl-main .item img {
	min-height: 600px;
	min-width: 1280px;
	display: block;
	width: 100%;
	height: auto;
}

.main-slider {
	display: none;
}

.slider-title {
	z-index: 20;
	top: 20px;
	position: relative;
}

.main-header {
	background: none !important;
}

.main-header .header {
	position: absolute;
	top: 0;
	z-index: 20;
}

.main-header .page-main__top-slider {
	position: absolute;
	top: 300px;
}

.main-header .main-slider {
	display: block;
}

.career__col {
	float: left;
	width: 70%;
}
