//.scroller_wrapper

.scroller
	height 100%
	overflow-y scroll
	-webkit-overflow-scrolling touch

.scroller::-webkit-scrollbar
	width 0

.scroller__bar-wrapper
	abs(top right bottom)
	z-index 3
	width 5px
	background #d6d8da
	pointer-events none
	opacity .01

.scroller__bar
	trans()
	abs()
	z-index 1
	width 5px
	background #616771
	opacity .01
	pointer-events auto

.baron
	overflow: hidden

	.scroller__bar-wrapper
		opacity .99

	.scroller__bar
		opacity .99

		&:hover
			opacity .9
