.cols-line
	overflow hidden

.col
	overflow hidden

.cols-line__col-left
	float left

.cols-line__col-right
	float right

.col-header
	height 62px
	overflow hidden
	padding 0 10px 0 26px
	background data-uri('../img/data_uri/gray_header_bg.png') 0 0 repeat
	text-transform uppercase
	font-size 18px
	font-weight $fontNormal
	line-height 64px
	color #fff

.col_color_pink

	.content-gradient
		background data-uri('../img/data_uri/pink_bg.png') 0 0 repeat

	.col-header
		background data-uri('../img/data_uri/pink_header_bg.png') 0 0 repeat

	.scroller__bar-wrapper
		background #fde6e3

	.scroller__bar
		background #f47d6d

.col-header__select-wrapper
	rel()

.col-header__select
	abs(top -115px right 25px)
	text-transform none

@media only screen and (min-width: 1280px) {
	.col-header__select {
		top -139px
	}
}