.icheckbox_minimal-red,
.iradio_minimal-red
	margin-right 9px
	top -2px

.icheckbox_minimal-red, .iradio_minimal-red
	size(25px)

.icheckbox_minimal-red
	background-position 0 0

.icheckbox_minimal-red.hover
	background-position -25px 0

.icheckbox_minimal-red.checked
	background-position -50px 0

.icheckbox_minimal-red.disabled
	background-position -75px 0

.icheckbox_minimal-red.checked.disabled
	background-position -100px 0

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	.icheckbox_minimal-red {
		-webkit-background-size 200px 25px
		background-size 200px 25px
	}
}