.main-projects
	//

.main-projects__item
	rel()
	sizing()
	height 100px
	display block
	padding-left 193px
	color $color
	cursor pointer
	border-top 1px solid alpha(#fff, .5)
	overflow hidden

	&:before
		pseudo-abs(top left right)
		z-index 10
		display block
		height 1px
		background alpha(#f4f4f5, .5)

.main-projects__picture
	abs(left top -1px)
	size(188px, 100px)
	background url('../img/s.gif') 50% 0 no-repeat
	background-size cover
	z-index 5
	margin-right 20px

.main-projects__title,
.main-projects__subtitle
	display inline-block
	padding-left 20px
	padding-right 10px

.main-projects__title
	padding-top 11px
	font-size 17px
	line-height 24px
	font-weight $fontNormal

.main-projects__subtitle
	margin-top 6px
	font-size 15px
	line-height 20px
	font-weight $fontLight

@media only screen and (min-width: 1280px) {
	.main-projects__item {
		height 125px
		padding-left 246px
	}

	.main-projects__picture {
		size(235px, 130px)
	}

	.main-projects__title {
		padding-top 14px
		font-size 22px
		line-height 31px
	}

	.main-projects__subtitle {
		font-size 19px
		line-height 20px
	}
}
