.main-map
	rel()
	height 240px
	overflow hidden
	background url('../img/main_map.png') 0 0 no-repeat
	background-size cover

.main-map__item
	abs()
	sprite($map_pin)
	background url('../img/sprite2x/map_pin.png') 50% 0 no-repeat
	background-size 100%
	transition(none)

	&:before
		trans()
		pseudo-abs(left -1px top -20px)
		sprite($map_pin_active)
		background url('../img/sprite2x/map_pin_active.png') 50% 0 no-repeat
		background-size 100%
		display block
		opacity .01
		z-index -10

	&:after
		pseudo-abs(top -26px)
		size(35px, 37px)
		display block
		opacity .01
		z-index -1
		overflow hidden

	&:hover
		&:before,
		&:after,
		.main-map__popup
			opacity .99
			z-index 10

.main-map__popup
	trans()
	abs(left 32px bottom 13px)
	z-index -10
	opacity .01
	background #434955
	white-space nowrap
	font-size 9px
	line-height 14px
	color #fff

.main-map__popup-text,
.main-map__popup-year
	display block

.main-map__popup-text
	padding 4px 4px 6px 7px
	letter-spacing(15)
	font-size 15px
	font-weight $fontLight
	line-height 17px

.main-map__popup-year
	sizing()
	height 20px
	border-top 1px solid #f47d6d
	padding 3px 5px 0 5px
	box-shadow inset 0 1px 3px 0 alpha(#000, .4)
	text-align center
	font-size 11px

@media only screen and (min-width: 1280px) {
	.main-map__item {
		size(18px, 18px)

		&:before {
			size(42px, 43px)
			top -26px
		}

		&:after {
			size(50px, 50px)
		}
	}

	.main-map__popup {
		left: 40px;
		bottom: 17px;
	}

	.main-map__popup-text {
		padding 5px 6px 6px 9px
		font-size 19px
		line-height 21px
	}

	.main-map__popup-year {
		height 25px
		padding 4px 5px 0 5px
		font-size 15px
	}
}