.qtip
	max-width 350px

.qtip-local
	border none
	background #ebd5d5
	font-size 13px
	line-height 15px
	font-weight $fontBook
	letter-spacing(20)
	color #c33
	margin-top -7px

	.qtip-tip
		margin-right 7px

		& *
			display none

	.qtip-content
		padding 6px 10px
