$innerColor = $color
$frameColor = #9d9d9d

.select2-container
	font-size 16px
	font-weight $fontLight
	color $innerColor
	outline none
	background #fff

.select2-default
	color #bec4cd !important

.select2-container .select2-choice
	height 36px
	line-height 32px
	padding-left 24px
	border 1px solid $frameColor
	border-radius 0
	background transparent
	color $innerColor
	letter-spacing(-15)

.select2-drop
	box-shadow(none !important)

.select2-dropdown-open .select2-choice
	box-shadow none

.select2-drop-active,
.select2-container-active.select2-dropdown-open .select2-choice
	border 1px solid $frameColor
	border-top none

.select2-container .select2-choice:hover
	border-color $frameColor
	color $innerColor

.select2-container-active .select2-choice,
.select2-container-active:hover .select2-choice
	border 1px solid $frameColor !important
	color $innerColor !important
	box-shadow(none !important)

.select2-container .select2-choice > .select2-chosen
	margin-right 34px
	padding-top 1px

.select2-container .select2-choice .select2-arrow
	width 46px
	background #fff
	border-left none
	border-radius 0

.select2-container .select2-choice .select2-arrow b
	border-box()
	transform(rotate(0deg))
	background transparent data-uri('../img/data_uri/select_arrow_gray.png') 9px 14px no-repeat

.select2-container.select2-dropdown-open .select2-choice .select2-arrow b
	transform(rotate(-180deg))
	background-position -18px 14px

.select2-container .select2-choice:hover
	border-color $frameColor
	color $innerColor

.select2-container .select2-choice:hover .select2-arrow b,
.select2-container-active .select2-choice .select2-arrow b,
.select2-container-active .select2-choice:hover .select2-arrow b
	opacity .7

.select2-drop-active
	box-shadow(none)

.select2-results
	trans()
	max-height 320px
	font-size 15px
	font-weight $fontLight
	color $innerColor
	margin 0
	padding 0

.select2-result
	trans()

.select2-search-choice-close
	display none !important

.select2-results .select2-highlighted
	color $color
	background alpha(#000, .05)

.select2-results .select2-result-label
	padding 3px 7px 5px 24px

.select2-drop
	transition(max-height, .3s)
	display block
	overflow hidden
	max-height 0
	margin-top -2px
	border-radius 0
	border-bottom none
	border-left-color transparent
	border-right-color transparent
	color $innerColor

	&.opened
		max-height 320px
		border 1px solid $frameColor
		border-top none

	ul,
	li
		margin 0
		padding 0

		&:before
			display none

.select2-container .select2-choice abbr
	trans()
	top 10px
	right 40px

	&:hover
		transform(rotate(360deg))

.select2-container .select2-choice,
.select2-container.select2-drop-above .select2-choice,
.select2-container .select2-choice .select2-arrow,
.select2-dropdown-open .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-container-multi .select2-choices .select2-search-choice
	filter none


/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx)
	.select2-container .select2-choice .select2-arrow b
		background-image data-uri('../img/data_uri/select_arrow_gray_2x2.png') !important

	.orange-dark
		.select2-container .select2-choice .select2-arrow b
			background-image data-uri('../img/data_uri/select_arrow_2x2.png') !important

	.select2-container .select2-choice .select2-arrow b,
	.select2-container .select2-choice:hover .select2-arrow b
	.select2-container-active .select2-choice .select2-arrow b,
	.select2-container-active .select2-choice:hover .select2-arrow b
		background-position 9px 12px
		background-size 50% !important


.error
	.select2-container .select2-choice,
	&.select2-drop
		border-color #c33 !important

.orange-dark
	$innerColor = #f47d6d
	$frameColor = #f47d6d

	.select2-container .select2-choice
		height 33px
		padding-left 11px

	.select2-container
		background $color

	.select2-container,
	.select2-container .select2-choice,
	.select2-container .select2-choice:hover,
	.select2-container .select2-choice:hover,
	.select2-results,
	.select2-drop
		color $innerColor

	.select2-container-active .select2-choice,
	.select2-container-active:hover .select2-choice
		border-color $frameColor !important
		color $innerColor !important

	.select2-container .select2-choice,
	.select2-drop-active,
	.select2-container-active.select2-dropdown-open .select2-choice,
	.select2-container .select2-choice:hover,
	.select2-container .select2-choice:hover,
	.select2-drop.opened
		border-color $frameColor

	.select2-container .select2-choice .select2-arrow
		background $frameColor

	.select2-results
		background $color

	.select2-results .select2-highlighted
		color #fff
		background alpha(#fff, .05)

	.select2-drop-active
		background $color

	.select2-container .select2-choice .select2-arrow b
		background transparent data-uri('../img/data_uri/select_arrow.png') 11px 14px no-repeat

	.select2-results .select2-result-label
		padding 3px 7px 5px 11px

	.select2-container .select2-choice .select2-arrow
		width 34px

	.select2-container .select2-choice > .select2-chosen
		padding-top 0
