$mainSliderHeight = 88px
$slideWidth = 188px

.sliderkit a:focus
	outline none

// main
.main-sliderkit
	rel()
	height $mainSliderHeight
	width 600px
	background $color
	margin 0 auto
	overflow hidden

	.sliderkit-nav
		height $mainSliderHeight
		abs(left bottom)
		padding 0
		font-size 0

	.sliderkit-nav-clip
		z-index 50

	.sliderkit-nav-clip ul
		margin 0

	.sliderkit-nav-clip ul li
		float left
		margin 0

		&:before
			display none

	.sliderkit-nav-clip ul li a,
	.sliderkit-nav-clip ul li span
		size($slideWidth, $mainSliderHeight)
		rel()
		display block
		overflow hidden
		margin 0
		text-align center
		opacity .99

		img
			size($slideWidth, $mainSliderHeight)
			background url('../img/s.gif') 50% 0 no-repeat

		&:before
			abs(left right 22px bottom 10px)
			z-index 10
			content attr(title)
			display block
			text-align right
			font-size 13px
			font-weight $fontNormal
			line-height 14px
			text-transform uppercase
			color #f47d6d
			letter-spacing(25)

		&:after
			pseudo-abs(right 13px bottom 13px)
			sprite($slide_arr)
			background url('../img/sprite2x/slide_arr.png') 50% 0 no-repeat
			background-size 100%
			z-index 10
			display block

	.sliderkit-nav-clip ul li a img,
	.sliderkit-nav-clip ul li span img
		opacity .3
		background-size cover

	.sliderkit-nav-clip ul li a:hover img
		opacity .99

	.sliderkit-nav .sliderkit-nav-btn
		abs(top right bottom)
		z-index 10

	.sliderkit-nav .sliderkit-nav-next a
		abs(top bottom)
		trans()
		display block
		width 36px
		opacity .99

		&:before
			pseudo(top 38px left 13px)
			sprite($slider_rarr)
			background url('../img/sprite2x/slider_rarr.png') 50% 0 no-repeat
			background-size 100%
			display block

	.sliderkit-nav .sliderkit-nav-btn a:hover
		opacity .75
		background #404957

	.sliderkit-btn-disable
		display none

@media only screen and (min-width: 1280px) {
	.main-sliderkit {
		size(748px, 110px)

		& .sliderkit-nav {
			height 110px
		}

		& .sliderkit-nav .sliderkit-nav-next a {
			width 46px

			&:before {
				size(10px, 16px)
				top 47px
				left 19px
			}
		}

		& .sliderkit-nav-clip ul li {
			& a,
			& span,
			& a img,
			& span img {
				size(234px, 110px)
			}

			& a:before,
			& span:before {
				right 30px
				bottom 14px
				font-size 16px
				font-weight $fontNormal
			}

			& a:after,
			& span:after {
				size(6px, 10px)
				right 15px
				bottom 16px
			}
		}
	}
}