.square-news
	margin 0 0 10px 0
	padding 0

.square-news__item
	size(182px, 137px)
	trans()
	sizing()
	rel()
	display block
	margin 14px 0 0 13px
	padding 5px 10px 10px 13px
	overflow hidden
	float left
	background #c4c6ca
	color $color
	font-size 13px
	line-height 20px

	&:hover
		background #f47d6d
		color #fff

		.square-news__see
			&:after
				opacity .01

			&:before
				opacity .99

.square-news__title
	display block
	height 100px
	overflow hidden
	font-size 15px
	line-height 25px

.square-news__date
	abs(bottom 9px left 13px)
	letter-spacing(-50)
	font-weight $fontNormal

	span
		padding 0 1px 0 2px

.square-news__see
	abs(bottom 9px right 19px)
	font-weight $fontNormal
	letter-spacing(-20)
	white-space nowrap

	&:after,
	&:before
		trans()
		pseudo-abs(bottom 6px right -8px)
		display inline-block
		margin-left 2px

	&:after
		opacity .99
		sprite($arr_gray)
		background url('../img/sprite2x/arr_gray.png') 50% 0 no-repeat
		background-size 100%

	&:before
		opacity .01
		sprite($arr_white)
		background url('../img/sprite2x/arr_white.png') 50% 0 no-repeat
		background-size 100%

@media only screen and (min-width: 1280px) {
	.square-news__item {
		size(226px, 172px)
		margin 16px 0 0 16px
		padding 7px 10px 10px 16px
	}

	.square-news__title {
		font-size 19px
		line-height 31px
	}

	.square-news__date {
		bottom 13px
		left 16px
		font-size 15px
	}

	.square-news__see {
		font-size 16px
		bottom 13px
		right 23px

		&:after,
		&:before {
			pseudo-abs(bottom 5px right -11px)
			size(5px, 9px)
		}
	}
}
