$submenuHeight = 68px;

.page-submenu
	rel()
	size(100%, $submenuHeight)
	z-index 10
	overflow hidden

.page-submenu__carousel
	width 100%
	height $submenuHeight

.page-submenu__grad-base
	abs(top bottom 2px left right)
	background data-uri('../img/data_uri/submenu_bg.png') 0 0 repeat

.page-submenu__grad
	abs(top)
	z-index 10
	display block

.page-submenu__grad_left
	sprite($submenu_grad_l)
	background url('../img/sprite2x/submenu_grad_l.png') 50% 0 no-repeat
	background-size 100%
	left 0

.page-submenu__grad_right
	sprite($submenu_grad_r)
	background url('../img/sprite2x/submenu_grad_r.png') 50% 0 no-repeat
	background-size 100%
	right 0

.page-submenu__grad_left,
.page-submenu__grad_right
	size(24px, 68px)

.page-submenu__item
	padding 20px 10px 3px 10px
	border-bottom 2px solid #bac0c7

	&.active
		border-bottom-color #f47d6d

.page-submenu__item_type_space:before
	pseudo()
	display block
	size(10px, 1px)

.page-submenu__item_type_edge
	padding 0
	border-bottom-color transparent

.page-submenu__item_type_edge:before
	pseudo()
	size(20px, 1px)
	display block

.page-submenu__link
	rel()
	display inline-block
	overflow hidden
	max-height 37px
	min-width 100px
	max-width 200px
	text-transform uppercase
	line-height 19px
	font-size 13px
	font-weight $fontBook
	color #8e949d

	&:hover,
	.page-submenu__item.active &
		color $color

.touchcarousel .arrow-holder
	display none

@media only screen and (min-width: 1280px) {
	.page-submenu__link {
		min-width 125px
		max-width 250px
		max-height 45px
		line-height 23px
		font-size 16px
	}

	.page-submenu__item {
		padding 26px 12px 5px 12px
		border-bottom-width 3px

		&.page-submenu__item_type_edge {
			padding 0
		}
	}

	.page-submenu,
	.page-submenu__carousel {
		height 86px
	}

	.page-submenu__grad_left,
	.page-submenu__grad_right {
		size(30px, 85px)
	}
}
