$vacancyHeight = 67px

.vacancies
	margin 0
	padding 0

.vacancies__item
	rel()
	sizing()
	display block
	margin 0
	padding 0
	height $vacancyHeight
	overflow hidden
	padding-left 27px
	border-bottom 1px solid #fef8f7
	font-size 17px
	color $color
	trans()

	&:hover
		background #c4c6ca;

.vacancies__title
	white-space nowrap
	line-height 64px
	font-weight $fontNormal
	letter-spacing-old(-30)

.vacancies__city
	abs(top bottom right)
	width 108px
	overflow hidden
	white-space nowrap
	line-height 66px
	font-size 14px
	font-weight $fontBook
	letter-spacing(25)

@media only screen and (min-width: 1280px) {
	.vacancies__item {
		height 83px
		padding-left 33px
		font-size 21px
	}

	.vacancies__title {
		line-height 77px
	}

	.vacancies__city {
		width 136px
		line-height 79px
		font-size 19px
	}
}