.frame-block + .frame-block
	margin-top 40px

.white-frames
	margin-left -25px

.white-frames__item
	rel()
	sizing()
	trans()
	width 475px
	float left
	margin-left 25px
	margin-bottom 12px
	border 1px solid #9d9d9d
	padding 7px 20px
	background #fff
	line-height 23px
	color $color

.white-frames__content
	display block
	height 44px
	overflow hidden

.white-frames__item_with-date
	margin-top 25px

.white-frames__date
	abs(top -24px)
	trans()
	margin-left -3px
	font-size 14px
	font-weight $fontLight
	letter-spacing(-50)

	span
		padding 0 6px 0 6px

		&:before,
		&:after
			pseudo-abs()
			content '/'
			margin-top 0px
			font-size 16px
			font-weight $fontLight

		&:before
			margin-left -9px

		&:after
			margin-left -1px

	.white-frames__item:hover &
		color #f86b58

.white-frames__type_two-lines .white-frames__item
	height 63px

a.white-frames__item:hover
	color #fff
	background #f47d6d

	&:before
		background #f47d6d

@media only screen and (min-width: 1280px) {
	.frame-block + .frame-block {
		margin-top 50px
	}

	.white-frames {
		margin-left -32px
	}

	.white-frames__item {
		width 593px
		margin-left 32px
		margin-bottom 16px
		line-height 28px
		padding 9px 24px
	}

	.white-frames__content {
		height 60px
	}

	.white-frames__type_two-lines .white-frames__item {
		height 78px
	}
}
