trans()
	transition(all, .3s)

notrans()
	transition(none)

abs()
	absolute(arguments)

rel()
	relative(arguments)

fixed()
	relative(arguments)
	position fixed

sizing()
	box-sizing(border-box)

letter-spacing(inPercent)
	letter-spacing (inPercent / 1000)em

abs-center()
	abs(left 0 right 0)
	margin 0 auto

no-spaces()
	margin 0
	padding 0

pseudo()
	content ''
	rel(arguments)

pseudo-abs()
	content ''
	abs(arguments)

empty-bg()
	background url('../img/s.gif') 50% 50% no-repeat