/*
* 	Owl Carousel Owl Demo Theme 
*	v1.24
*/

.owl-theme .owl-controls {
	text-align: center;
	z-index: 10;
	top: 350px;
	width: 14px;
	height: auto;
	right: 40px;
	left: auto;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	/*color: #FFF;*/
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	width: 11px;
	height: 16px;
	/*margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);*//*IE7 fix*/
	/*opacity: 0.5;*/
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
.owl-prev {
	background: url(/local/img/arr_l_active.png) no-repeat;
}
.owl-next {
	background: url(/local/img/arr_r_active.png) no-repeat;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: block;
	zoom: 1;
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 10px;
	height: 10px;
	margin: 15px 0;
	border-radius: 50%;
	border: 2px solid #fff;
}
.owl-theme .owl-controls .owl-page:first-child span {
	margin-left: 0;
}

.owl-theme .owl-controls .owl-page.active span
{
	width: 10px;
	height: 10px;
	background-color: #fff;
	border: 2px solid #fff;
}


.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}